// Navigation component
$nav_color1: #2a2f30;
$nav_color2: #383c3c;
$nav_color3: #2b6797;
$nav_color4: #fff;
$nav_color5: #191c1c;
$nav_color6: #b3b4b4;
$nav_color7: #ff0000;

// Common blocks in the CMS part
$author_color1: #2b6797;
$author_color2: #ccc;
$author_color3: #ff0000;
$author_color4: #f2f2f2;
$author_color5: #666;
$author_color6: #fff;
$author_color7: #fff;
$author_color8: #008000;

$author_height: 32px;
$author_radius: 4px;

$block-image__width: 660px;
$block-image__height: 652px;
$block-image__width-small: 235px;

$block-question__width: 350px;
$block-question__height: 652px;

// End survey component
$survey_color1: #2b6797;
$survey_color2: #ccc;
$survey_color3: #fff;
$survey_color4: #666;
$survey_color5: #008000;
$survey_color6: #ff0000;
$survey_color7: #96d063;

// Lesson summary component
$lesson-summary_color1: #2b6797;
$lesson-summary_color2: #ccc;

// Questions component
$question_color1: #2b6797;
$question_color2: #ccc;
$question_color3: #fff;
$question_color4: #666;
$question_color5: #008000;
$question_color5: #ff0000;
$question_color6: #96d063;

// Scaffolds component
$scaffolds_color1: #2b6797;
$scaffolds_color2: #fff;
$scaffolds_color3: #96d063;
$scaffolds_color4: #ff0000;
