<%page args="report_data, course_name"/>
<%!
from django.utils.translation import ugettext as _
%>

<div class="extended-report">
    %for user_data in report_data:
        <h4 class="hd hd-4">
            <p>${_("Student name")}: <span style="color: red;">${ user_data['full_name'] }</span><p>
            <p>${_("Activity report for lesson")}: <br><span style="font-size: 30px; color: #24ad97;">${ course_name }</span><p>
            <p>${_("Lesson completed")}: <span style="color: ${'green' if user_data['completion'] == 1 else 'red'};">${_('Yes') if user_data['completion'] == 1 else _('No')}</span>
            <br>${_("Score")}:<span style="color: green"> ${ user_data['percent'] }</span><p>
        </h4>
        <h2 class="hd hd-2" style="padding-bottom: 20px">${_('Questions answered report break-down:')}</h2>

        %for question_data in user_data['questions']:
        <%
            earned = question_data['score_info'].get('earned', 0)
            possible = question_data['score_info'].get('possible', 0)
        %>
            <h4 class="hd hd-6" style="padding-bottom: 20px">
                %if question_data['type'] == 'video_lesson':
                    ${_("Video question")} ${loop.index + 1}: <span style="color: #24ad97;">${ question_data['title'] }</span><br>
                        ${_('Number of attempts:')}
                    <span style="color: red;">${ question_data['attempts'] } ${ _("attempt") if question_data['attempts'] == 1 else _("attempts")}</span>
                %else:
                    ${_("Question")} ${loop.index + 1}: <span style="color: #24ad97;">${ question_data['title'] }</span><br>
                    %if not question_data['score_info'].get('done'):
                        <span style="color: #767676;">n/a</span>
                    %elif earned > 0 and earned < possible:
                        <span style="color: #d3620b;">${_('Partially correct')}</span>
                    %elif earned !=0 and earned == possible:
                        <span style="color: #24ad97;">${_('Correct')}</span>
                    %else:
                        <span style="color: #ff0900;">${_('Incorrect')}</span>
                    %endif
                %endif
                <span>(${ earned } / ${ possible })</span>
            </h4>
        %endfor
    %endfor
</div>
