<%page args="report_data, header"/>
<%!
from django.utils.translation import ugettext as _
%>

<div class="extended-report" style="overflow-x: scroll;">
    <table class="teacher-extended-report" style="border-collapse: collapse; border: 1px solid;">
        <thead>
            <tr>
                <th style="border: 1px solid; padding: 10px 32px 10px 8px;">${_("Student name")}</th>
                %for question_name, question_type in header:
                    <th style="border: 1px solid; padding: 10px 8px; border-color: black; ${'color: white; background: #0075b4;' if question_type == 'video_lesson' else 'background: #ffce00;' if question_type == 'problem' else '' }">
                        <p>${_("Question")} ${loop.index + 1}:
                        <br>${ question_name }</p>
                    </th>
                %endfor
                <th style="border: 1px solid; padding: 10px 8px;">${_("Score")}</th>
                <th style="border: 1px solid; padding: 10px 8px;">${_("Lesson completed")}</th>
            </tr>
        </thead>
        <tbody>
            %for user_data in report_data:
                <tr>
                    <th style="border: 1px solid; white-space: nowrap; padding: 10px 8px; color: white; border-color: black; ${'background: #24ad97;' if user_data['completion'] == 1 else 'background: #d9534f;'}">
                        ${ user_data['full_name'] }
                    </th>
                    %for question_name, question_count_answer, done in user_data['questions']:
                        <td style="white-space: nowrap; border: 1px solid; padding: 9px 8px;">
                            %if question_count_answer == 1 and done:
                                <span style="color: #24ad97;">${ _('First attempt') }</span>
                            %else:
                                <span style="color: #d9534f;">${ question_count_answer } ${ _("attempt") if question_count_answer == 1 else _("attempts")}</span>
                            %endif
                        </td>
                    %endfor
                    <td style="white-space: nowrap; border: 1px solid; padding: 9px 8px;">${ user_data['percent'] }</td>
                    <td style="white-space: nowrap; border: 1px solid; padding: 9px 8px;color: white; border-color: black; ${'background: #24ad97;' if user_data['completion'] == 1 else 'background: #d9534f;'}">
                        ${_('Yes') if user_data['completion'] == 1 else _('No')}
                    </td>
                </tr>
            %endfor
        </tbody>
    </table>
</div>
