<%page args="report_data, header"/>
<%!
from django.utils.translation import ugettext as _
%>

<div class="extended-report" style="overflow-x: scroll;">
    <table style="border-collapse: collapse; border: 1px solid;">
        <tr>
            <th style="border: 1px solid; padding: 10px 8px;">${_("Student name")}</th>
            %for question_name in header:
                <th style="border: 1px solid; padding: 10px 8px;">
                    <p>${_("Question")} ${loop.index + 1}:
                    <br>${ question_name }</p>
                </th>
            %endfor
            <th style="border: 1px solid; padding: 10px 8px;">${_("Score")}</th>
            <th style="border: 1px solid; padding: 10px 8px;">${_("Lesson completed")}</th>
        </tr>
        %for user_data in report_data:
            <tr>
                <th style="border: 1px solid; white-space: nowrap; padding: 10px 8px;">
                    ${ user_data['full_name'] }<br>
                </th>
                %for question_name, question_count_answer, done in user_data['questions']:
                    <td style="white-space: nowrap; border: 1px solid; padding: 9px 8px;">
                        %if question_count_answer == 1 and done:
                            <span style="color: green;">${ ('First attempt') }</span>
                        %else:
                            <span style="color: red;">${ question_count_answer } ${ _("attempt") if question_count_answer == 1 else _("attempts")}</span>
                        %endif
                    </td>
                %endfor
                <td style="white-space: nowrap; border: 1px solid; padding: 9px 8px;">${ user_data['percent'] }</td>
                <td style="white-space: nowrap; border: 1px solid; padding: 9px 8px;"><span style="color: ${'green' if user_data['completion'] == 1 else 'red'};">${'Yes' if user_data['completion'] == 1 else 'No'}</span></td>
            </tr>
        %endfor
    </table>
</div>
