/* HERA css variables */
:root {
    --color1: #2b6797;
    --color2: #ccc;
    --color3: #fff;
    --color4: #666;
    --color5: #000;
    --color6: #ff0000;
    --color-op: rgba(0,0,0,0.8);
    --color-repharse: rgb(37, 123, 186);
    --color-break: rgb(103, 65, 114);
    --color-teach: rgb(236, 139, 34);
    --height: 650px;
    --question-width: 338px;
}

/* Global content holders */
.author-holder {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    background: var(--color3);
    border: 1px solid var(--color2);
}

.author-holder .close-popup {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    color: var(--color4);
    background: var(--color3);
    border: 2px solid var(--color2);
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    line-height: 1;
    transition: opacity 0.3s ease-in-out;
}

.author-holder .close-popup:hover {
    opacity: 0.75;
}

.author-block__wrapper {
    margin: 12px auto;
    padding: 20px;
    background: var(--color3);
}

.author-block__title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 24px;
    margin-bottom: 24px;
}

.author-block__content {
    display: flex;
    position: relative;
}

.author-block__content.is-column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.author-block__name {
    position: relative;
}

.author-block__image {
    box-sizing: border-box;
    width: 70%;
    min-height: var(--height);
    max-height: var(--height);
    border: 1px solid var(--color2);
    position: relative;
    margin-right: 12px;
    overflow-y: auto;
}

.author-block__image.is-full-width {
    width: initial;
    margin: 0 auto 12px;
    min-height: auto;
    max-height: initial;
}

.author-block__image img,
.author-block__image iframe {
    display: block;
    width: 100%;
}

.author-block__image iframe {
    height: 100%;
    min-height: 395px;
    border: none !important;
}

.author-block__question {
    box-sizing: border-box;
    width: 30%;
    max-width: var(--question-width);
    border: 1px solid var(--color2);
    padding: 12px 16px 66px;
    position: relative;
    max-height: var(--height);
    min-height: var(--height);
    overflow-y: auto;
}

/* Firefox padding scroll bug fix */
@-moz-document url-prefix() {
    .author-block__question:after {
        content: '';
        height: 50px;
        display: block;
    }
}

/* Safari padding scroll bug fix */
@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) {
    .author-block__question:after {
        content: '';
        height: 50px;
        display: block;
    }
}}

.author-block__question.is-full-width {
    box-sizing: border-box;
    width: 100%;
    max-width: initial;
    min-height: auto;
    max-height: initial;
}

.author-block__question.is-no-border {
    border: none;
    padding: 0;
}

.author-block__question-title {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin: 0 0 18px;
}

.author-block__question-text {
    font-size: 16px;
    line-height: 1.5;
    position: relative;
}

/* Styles for inputs radio and checkboxes */
.questions-list__item {
    display: flex;
    align-items: center;
    margin: 0 0 8px;
}

.question-form .questions-list__item:last-child {
    margin: 0;
}

.questions-list__label {
    display: inline-block;
}

.questions-list__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.questions-list__text {
    display: inline-block;
    font-size: 16px;
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
}

.questions-list__text:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--color3);
    border: 1px solid var(--color1);
}

.questions-list__text:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color3);
    opacity: 0;
    transition: all .3s ease-in-out;
}

input[type="radio"].questions-list__input:checked + .questions-list__text:after {
    opacity: 1;
}

input[type="radio"].questions-list__input:checked + .questions-list__text:before,
input[type="radio"].questions-list__input:focus + .questions-list__text:before {
    box-shadow: none;
    background: var(--color1);
}

input[type="checkbox"].questions-list__input + .questions-list__text:before {
    border-radius: 0;
}

input[type="checkbox"].questions-list__input + .questions-list__text:after {
    content: '\f00c';
    font-family: FontAwesome;
    background: transparent;
    color: var(--color3);
    left: 4px;
    margin-top: -8px;
}

input[type="checkbox"].questions-list__input:checked + .questions-list__text:after {
    opacity: 1;
}

input[type="checkbox"].questions-list__input:checked + .questions-list__text:before {
    box-shadow: none;
    background: var(--color1);
}

/* Title page elements */
.image-full {
    display: block;
    width: 100%;
}

.title-block-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin: 0 0 24px;
}

.title-block-content {
    position: relative;
}

/* Feedback tooltips */
.footer-controls-btns {
	display: flex;
	align-items: center;
}

.feedback-holder {
    display: inline-block;
    width: 22px;
    margin: 0 12px;
    line-height: 1;
    position: relative;
    transition: opacity .3s ease-in-out;
}

.feedback-holder.tooltip-is-open .feedback-content {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
    visibility: visible;
}

.feedback-content {
    line-height: 1.4;
    cursor: initial;
    box-sizing: border-box;
    min-width: 325px;
    display: block;
    position: absolute;
    bottom: 46px;
    right: -105px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0;
    transform: scale(.4) translate3d(0, 30px, 0);
    transform-origin: bottom center;
    transition: all .4s cubic-bezier(.46, .265, .285, 1.635);
    border: 1px solid #d9d9de;
    padding: 18px;
    z-index:5;
    visibility: hidden;
}

.feedback-content:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 212px;
    display: block;
    background: #fff;
    transform: rotate(45deg) translate(-50%, 50%);
    bottom: -10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

.feedback-open {
    background-color: transparent !important;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCIgY2xhc3M9IiI+PGc+PGc+PGc+PHBhdGggZD0iTTQ0OCwwSDY0QzI4LjcwNCwwLDAsMjguNzA0LDAsNjR2Mjg4YzAsMzUuMjk2LDI4LjcwNCw2NCw2NCw2NGgzMnY4MGMwLDYuMjA4LDMuNTg0LDExLjg3Miw5LjIxNiwxNC40OTYgICAgYzIuMTQ0LDAuOTkyLDQuNDgsMS41MDQsNi43ODQsMS41MDRjMy42OCwwLDcuMzI4LTEuMjgsMTAuMjQtMy43MTJMMjMyLjk5Miw0MTZINDQ4YzM1LjI5NiwwLDY0LTI4LjcwNCw2NC02NFY2NCAgICBDNTEyLDI4LjcwNCw0ODMuMjk2LDAsNDQ4LDB6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjN0Y3RjdGIi8+PC9nPjwvZz48L2c+IDwvc3ZnPg==) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border: none;
    width: 22px;
    height: 22px;
    box-shadow: none;
    outline: none;
    padding: 0;
    line-height: 1;
    transition: all .3s ease-in-out;
}

.feedback-open:hover {
    background-color: transparent !important;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCIgY2xhc3M9IiI+PGc+PGc+PGc+PHBhdGggZD0iTTQ0OCwwSDY0QzI4LjcwNCwwLDAsMjguNzA0LDAsNjR2Mjg4YzAsMzUuMjk2LDI4LjcwNCw2NCw2NCw2NGgzMnY4MGMwLDYuMjA4LDMuNTg0LDExLjg3Miw5LjIxNiwxNC40OTYgICAgYzIuMTQ0LDAuOTkyLDQuNDgsMS41MDQsNi43ODQsMS41MDRjMy42OCwwLDcuMzI4LTEuMjgsMTAuMjQtMy43MTJMMjMyLjk5Miw0MTZINDQ4YzM1LjI5NiwwLDY0LTI4LjcwNCw2NC02NFY2NCAgICBDNTEyLDI4LjcwNCw0ODMuMjk2LDAsNDQ4LDB6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjN0Y3RjdGIi8+PC9nPjwvZz48L2c+IDwvc3ZnPg==) !important;
    border: none;
    box-shadow: none !important;
    outline: none;
    opacity: .75;
}

button.feedback-open:active:not(:disabled),
button.feedback-open:focus:not(:disabled) {
    background-color: transparent !important;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCIgY2xhc3M9IiI+PGc+PGc+PGc+PHBhdGggZD0iTTQ0OCwwSDY0QzI4LjcwNCwwLDAsMjguNzA0LDAsNjR2Mjg4YzAsMzUuMjk2LDI4LjcwNCw2NCw2NCw2NGgzMnY4MGMwLDYuMjA4LDMuNTg0LDExLjg3Miw5LjIxNiwxNC40OTYgICAgYzIuMTQ0LDAuOTkyLDQuNDgsMS41MDQsNi43ODQsMS41MDRjMy42OCwwLDcuMzI4LTEuMjgsMTAuMjQtMy43MTJMMjMyLjk5Miw0MTZINDQ4YzM1LjI5NiwwLDY0LTI4LjcwNCw2NC02NFY2NCAgICBDNTEyLDI4LjcwNCw0ODMuMjk2LDAsNDQ4LDB6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjN0Y3RjdGIi8+PC9nPjwvZz48L2c+IDwvc3ZnPg==) !important;
}

.feedback-hint {
    display: block;
    font-size: 16px;
    margin: 0 0 8px;
}

.feedback-btn {
    box-sizing: border-box;
    display: block;
    width: 85px;
    color: #fff;
    font-size: 14px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 4px;
    background: var(--color1);
    padding: 6px;
    height: auto;
    line-height: 1;
    text-shadow: none;
    transition: all .3s ease-in-out;
}

.feedback-btn:hover {
    background: var(--color1) !important;
    border: none;
    box-shadow: none !important;
    outline: none;
    opacity: .75;
}

button.feedback-btn:active:not(:disabled),
button.feedback-btn:focus:not(:disabled) {
    background: var(--color1) !important;
}

.feedback-close {
    position: absolute;
    right: 8px;
    top: 2px;
    color: #555;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    height: auto;
    line-height: 1;
    transition: all .3s ease-in-out;
}

.feedback-close:hover {
    background: none !important;
    border: none;
    box-shadow: none !important;
    outline: none;
    opacity: .75;
}

.btns-flex-holder {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 759px) {
    .author-block__content {
        flex-direction: column;
    }

    .author-block__image {
        width: 100%;
        margin: 0 0 12px;
        min-height: auto;
        max-height: initial;
    }

    .author-block__image .slick-list {
        min-height: 200px;
    }

    .author-block__question {
        width: 100%;
        max-width: initial;
        min-height: auto;
        max-height: initial;
    }

    .feedback-content {
        min-width: 265px;
        left: 0;
        right: auto;
        margin-left: -84px;
    }

    .feedback-content:after {
        left: 98px;
    }

    .feedback-holder {
        margin-right: 0;
    }
}
