/* CSS for HeraPagesXBlock */

.hera_pages_block .count {
    font-weight: bold;
}

.hera_pages_block p {
    cursor: pointer;
}

.wrapper {
    width: 100%;
}

.image-wrapper {
    width: 60%;
    float: left;
}

.slidebar-wrapper {
    float:left;
    width:40%
}
