/* CSS for HeraPagesXBlock */

.hera_pages_block .count {
    font-weight: bold;
}

.hera_pages_block p {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    display: flex;
}

.image-wrapper {
    width: 800px;
    /* float: left; */
}

.slidebar-wrapper {
    /* float:left; */
    width:600px;
}
