/* CSS for HeraPagesXBlock */
.hera_pages_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.instructor-info-action {
    display: none;
    visibility: hidden;
}

.bookmark-button {
    display: none;
    visibility: hidden;
}

.slick-arrow {
    display: none;
    visibility: hidden;
}

.slider-button-wrapper {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    padding: 0 0 12px;
    position: absolute;
    bottom: 1px;
    right: 18px;
}

.wrapper-page {
    width: 100%;
}

.slider-button {
    margin-left: 12px;
    color: #ccc;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    line-height: 1;
    height: auto;
    filter: drop-shadow(-1px 0px 1px var(--color1));
    transition: all .3s ease-in-out;
}

.slider-button i {
    font-size: 22px;
}

.slider-button:hover {
    opacity: .55;
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    transform: scale(1.15);
}

.slider-button:focus,
.slider-button:active {
    outline: none !important;
    box-shadow: none !important;
    background: none !important;
    border: none !important;
}

.popup_content .slick-arrow {
    visibility: visible !important;
}

.instructor-info-action {
    visibility: hidden;
}

.bookmark-button {
    visibility: hidden;
}

.slick-list {
    min-height: 500px;
}

.author-block-no-image {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.author-block-no-image i {
    font-size: 96px;
    color: var(--color2);
    margin-bottom: 12px;
}
