/* CSS for QuestionXBlock */
.author-holder {
    position: relative;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .author-holder .close-popup {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    color: #666;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    line-height: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .author-holder .close-popup:hover {
    opacity: 0.75;
  }
  
  .author-block__wrapper {
    margin: 12px auto;
    width: 1024px;
    padding: 12px;
    background: #fff;
  }
  .author-block__title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 24px;
    margin-bottom: 24px;
  }
  .author-block__content {
    display: flex;
    position: relative;
  }
  .author-block__name {
    position: relative;
  }
  .author-block__image {
    border: 1px solid #ccc;
    position: relative;
    margin-right: 12px;
  }
  .author-block__image img,
  .author-block__image iframe {
    display: block;
    width: 100%;
  }
  .author-block__question {
    border: 1px solid #ccc;
    padding: 12px;
  }
  .author-block__question-title {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin: 0 0 18px;
  }
  .author-block__question-text {
    font-size: 16px;
    line-height: 1.5;
    position: relative;
  }
  .author-block__buttons {
    position: relative;
  }
  .author-block__btn {
    position: relative;
  }