/* Questions page elements */
.is-rephrase {
    border: 8px solid var(--color-repharse);
}

.is-break {
    border: 8px solid var(--color-break);
}

.is-teach {
    border: 8px solid var(--color-teach);
}

/* .is-rephrase .questions-wrapper {
  border: 8px solid var(--color-repharse);
}

.is-break .questions-wrapper {
  border: 8px solid var(--color-break);
}

.is-teach .questions-wrapper {
  border: 8px solid var(--color-teach);
}*/

.is-rephrase .scaffold-info .author-block__btn {
    background: var(--color-repharse);
}

.is-break .scaffold-info .author-block__btn {
    background: var(--color-break);
}

.is-teach .scaffold-info .author-block__btn {
    background: var(--color-teach);
}

.is-rephrase .scaffold-info .author-block__btn:hover {
    background: var(--color-repharse) !important;
}

.is-break .scaffold-info .author-block__btn:hover {
    background: var(--color-break) !important;
}

.is-teach .scaffold-info .author-block__btn:hover {
    background: var(--color-teach) !important;
}

.is-rephrase .scaffolds,
.is-break .scaffolds,
.is-teach .scaffolds {
    display: none;
    visibility: hidden;
}

.questions-image-wrapper {
    position: relative;
    transition: all .3s ease-in-out;
}

.questions-wrapper {
    background: #fff;
    transition: background .3s ease-in-out;
}

.questions-wrapper p.question-title {
    margin: 0 0 12px;
    font-weight: 600;
}

.questions-wrapper .questions-list-item-holder {
    margin: 0 0 18px;
}

.image-holder {
    position: relative;
    background: #fff;
}

.image-holder img {
    display: block;
    width: 100%;
    margin: 0 0 12px;
}

.image-holder img:last-child {
    margin: 0;
}

.scaffolds {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 22px;
  margin: 0 auto;
  width: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid var(--color2);
  border-bottom: none;
  background: var(--color3);
  padding: 12px 8px 16px;
  z-index: 3;
}

.scaffold__btn {
    height: auto;
    box-shadow: none;
    outline: none;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    transition: all .3s ease-in-out;
    -webkit-backface-visibility: hidden;
}

button.scaffold__btn:hover:not(:disabled) {
    background: none;
    box-shadow: none;
    opacity: .55;
    transform: scale(1.15);
}

button:active:not(:disabled),
button:focus:not(:disabled) {
    background: none;
    box-shadow: none;
    border: none;
}

.scaffold__price {
    display: block;
    font-size: 22px;
    font-weight: 700;
}

.scaffold__btn.is-rephrase {
    color: var(--color-repharse);
}

.scaffold__btn.is-break {
    color: var(--color-break);
}

.scaffold__btn.is-teach {
    color: var(--color-teach);
}

.scaffold-info {
    width: 90%;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: var(--color3);
    border: none;
    border-radius: 4px;
}

.scaffold-description {
    color: #222;
    margin: 0 0 12px;
    padding: 0 12px;
    font-size: 14px;
}

.scaffold-info .author-block__btn {
    margin: 0;
}

.scaffold-img {
    width: 40%
}

.author-block__buttons {
    position: relative;
    margin: 15px 0;
    padding: 10px;
    right: 0;
    align-items: center;
    justify-content: flex-end;
}

.author-block__btn {
    box-sizing: border-box;
    display: inline-block;
    height: 38px;
    border: none;
    box-shadow: none;
    background: var(--color1);
    outline: none;
    border-radius: 4px;
    text-align: center;
    color: var(--color3);
    padding: 8px 28px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    transition: all .3s ease-in-out;
    position: relative;
    margin-left: 12px;
    line-height: 1;
}

.author-block__btn.skip {
    color: var(--color1);
    background: var(--color3);
    border: 1px solid var(--color1);
}

button.author-block__btn:hover:not(:disabled) {
    opacity: .75;
    box-shadow: none;
    background: var(--color1);
    background-image: none;
}

button.author-block__btn:active:not(:disabled),
button.author-block__btn:focus:not(:disabled) {
    opacity: 1;
    box-shadow: none;
    background: var(--color1);
    background-image: none;
}

.author-block__btn.skip:hover {
    color: var(--color3);
    background: var(--color1) !important;
}

.author-block__btn.skip:active,
.author-block__btn.skip:focus {
    color: var(--color3);
    background: var(--color1) !important;
}

.author-block__image > div {
    position: relative;
    /* Чтобы .close не выходил за рамки .container */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--color5);
}

.simulation-close-btn {
    position: absolute;
    top: 0;
    right: -26px;
    cursor: pointer;
    color: #ccc;
}

.hidden {
    display: none !important;
}

.confidence-input {
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    height: 38px;
    border: 1px solid var(--color2);
    box-shadow: none;
    padding: 4px 8px;
    margin-left: 12px;
    background: none;
    line-height: 1;
    border-radius: 0;
    transition: all .3s ease-in-out;
}

/* Chrome, Safari, Edge, Opera remove arrows/spinners */
.confidence-input::-webkit-outer-spin-button,
.confidence-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox remove arrows/spinners */
input[type=number].confidence-input {
    -moz-appearance: textfield;
}

.confidence-holder {
    position: relative;
}

.confidence-input:active,
.confidence-input:focus {
    border-color: var(--color1);
    box-shadow: none;
    outline: none;
}

.confidence-input:invalid {
    border-color: var(--color6) !important;
}

.confidence-text {
    margin-left: 12px;
}

.confidence-text.error {
    display: none;
    margin: 0;
    position: absolute;
    right: -123px;
    top: -100px;
    width: 222px;
    border-radius: 8px;
    background: rgba(0, 0, 0, .85);
    padding: 20px;
    color: var(--color2);
    font-size: 14px;
    text-align: center;
    z-index: 5;
}

.confidence-text.error:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    bottom: -22px;
    left: 50%;
    margin-left: -16px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #000 transparent transparent transparent;
    opacity: .85;
}

.is-not-valid {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    padding: 1px;
}

.simulation-overlay {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-op);
    display: none;
}

.simulation-popup {
    max-width: 900px;
    width: 80%;
    max-height: 600px;
    height: 80%;
    position: relative;
    background: var(--color3);
    margin: 20px auto;
}

.simulation-iframe {
    width: 100%;
    height: 100%;
}

.close-image-icon {
    font-size: 26px;
    color: #222;
    position: absolute;
    top: 6px;
    right: 12px;
    cursor: pointer;
    z-index: 999;
    transition: all .3s ease-in-out;
}

.close-image-icon:hover {
    color: var(--color6);
    transform: scale(1.15);
}

/* TODO re-fix slick slider when first slide has no IMG */
.slick-list.draggable {
    height: 100% !important;
    min-height: 100% !important;
}

/* Single field input */
input[type="text"].questions-list__field,
input[type="number"].questions-list__field {
    display: block;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    background: none;
    border: 1px solid #ccc;
    transition: all .3s ease-in-out;
    resize: none;
    outline: none;
    font-size: 14px;
    border-radius: 0;
}

input[type="text"].questions-list__field:active,
input[type="text"].questions-list__field:focus,
input[type="number"].questions-list__field:active,
input[type="number"].questions-list__field:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color1);
}


/* Select option */
select.questions-list__select {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0 0 12px;
    transition: all .3s ease-in-out;
}

select.questions-list__select:hover,
select.questions-list__select:active,
select.questions-list__select:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color1) !important;
}

.show-simulation-holder {
    position: absolute !important;
    left: 24px;
    bottom: 0;
}

.btn-simulation {
    color: #222;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    border: 1px solid var(--color2);
    border-bottom: none;
    padding: 12px 14px 12px;
    line-height: 1;
    transition: all .3s ease-in-out;
}

button.btn-simulation:hover:not(:disabled) {
    color: #fff;
    background: var(--color1);
    border-color: var(--color1);
    box-shadow: none;
    text-shadow: none;
}

button.btn-simulation:active:not(:disabled),
button.btn-simulation:focus:not(:disabled) {
    color: #fff;
    background: var(--color1);
    border: 1px solid var(--color1);
    box-shadow: none;
    text-shadow: none;
}

/* Styles for table */
.table-wrapper {
    margin: 18px 0 0;
    overflow-x: auto;
}

.table-wrapper table td,
.table-wrapper table th {
    padding: 6px 8px;
    position: relative;
    min-width: 110px;
    max-width: 110px;
    word-break: initial;
    border: 1px solid var(--color2);
}

.table-wrapper table th {
    background: #f0f0f0;
    border-color: #969393;
    background-clip: padding-box;
    font-size: 14px;
}

.table-wrapper table td {
    font-size: 12px;
}

.table-wrapper table th input[type="text"],
.table-wrapper table th input[type="email"],
.table-wrapper table th input[type="password"],
.table-wrapper table th textarea.text {
    background-color: #f0f0f0;
    font-weight: 600;
}

.table-wrapper input[type="text"],
.table-wrapper input[type="email"],
.table-wrapper input[type="password"],
.table-wrapper textarea.text {
    display: block;
    border: none;
    box-shadow: none;
    padding: 0;
    background: none;
    width: 100%;
    height: auto;
    font-size: 12px;
    line-height: 1;
    border-radius: 0;
    transition: all .3s ease-in-out;
}

/* Confidence select option */
.confidence-holder .select2-container {
    width: initial !important;
    vertical-align: initial;
    margin-left: 12px;
}

.confidence-holder .select2-container--default .select2-selection--single {
    display: flex;
    align-items: center;
    width: 122px;
    border: 1px solid var(--color2);
    height: 38px;
    border-radius: 0;
    transition: border-color .3s ease-in-out;
}

@-moz-document url-prefix() {
    .confidence-holder .select2-container--default .select2-selection--single {
        width: 130px;
    }
}

.confidence-holder .select2-container--default .select2-selection--single:active,
.confidence-holder .select2-container--default .select2-selection--single:focus {
    border-color: var(--color1);
}

.confidence-holder .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

@media screen and (max-width: 759px) {
    .confidence-text {
        flex: 1;
        margin: 0 0 12px;
    }

    .confidence-holder {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0 0 12px;
    }

    .confidence-input {
        width: 100px;
    }

    .author-block__buttons {
        flex-direction: column;
        align-items: flex-end;
    }

    .author-block__btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .scaffolds {
        width: 245px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .scaffold__btn {
        font-size: 11px;
    }
}
