.cohort-select-wrapper {
    list-style: none;
    display: inline-block;
}

.cohort-choose-form {
    display: block;
}

.action-cohort-select-label {
    display: inline-block;
    margin-right: 12px;
}

.member-list th {
    vertical-align: middle;
    padding: 10px 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    word-wrap: break-word;
}

.member-list th {
        border-bottom: 1px solid #ddd;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    table-layout: fixed;
    width: 100%;
}

td .change-cohort-btn {
    width: 38px;
    height: 32px;
    padding: 0;
}

.row {
    border-right: 1px solid #c8c8c8;
}

.row_number_0 {
        background-color: rgba(111, 183, 247, 0.33);
}
.row_number_1 {
        background-color: rgba(145, 169, 214, 0.33);
}
