<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif
<style type="text/css">
  .play-intro {
    background-image: linear-gradient(-90deg, rgba(0,0,0,0.65), rgba(0,0,0,0.75));
    border-radius: 4px;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.4);
    border: 2px solid rgba(255,255,255,0.8);
    height: 40px;
    left: 15%;
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    top: 60%;
    width: 40px;
  }

  @media screen and (max-width: 760px) and (min-width: 341px){
    .play-intro {
      left:15%;
      top:20%;
      margin-top: 0px;
      margin-left: 0px;
      position: absolute;
    }
  }
</style>
<%block name="pagetitle">${_("Courses")}</%block>
<%block name="headextra">
  <link href="${static.url("css/breadcrums.css")}" rel="stylesheet"> 
    <link href="${static.url("css/course.css")}" rel="stylesheet"> 
</%block>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses" style="background-color: #ffffff;">
      <section class="courses-container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="breadcrums">
                <li>
                    <a href="/">Home / </a>
                </li>
                <li>
                    <a href="/courses">All Courses</a>
                </li>
            </ul>
          </div>
        </div>
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif
        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <div class="video-popup-content clearfix">
              <div class="video-img">
                  <a href="#" data-toggle="modal" data-target="#youtube">
                      <img src="https://img.youtube.com/vi/-S0kLcw105Q/0.jpg" alt="demo" width="219.5px;" height="149px;">
                      <div class="play-intro"><img src="https://s3.ap-south-1.amazonaws.com/student-verified-photos/icons8-play-40.png" style="margin-left: 0%;margin-top: 0%;"></div>
                  </a>

              </div>
              <div class="video-content">
                  <h4>Learn how courses work on DocMode</h4>
                  <p>Courses help you study a specific topic in 6-8 week engagements culminating in a certificate
                      of participation from the Partner Watch the video to learn more!</p>
                  <a href="#" class="close-content">x</a>
              </div>
          </div>
          <ul class="courses-listing">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>

      </section>
    </section>
</main>
