/* CSS for EndSurveyXBlock */
.servey-questions .author-block__wrapper,
.author-block__wrapper.questions-summary,
.author-block__wrapper.questions-result {
  padding: 20px 0;
}

.staff-results .survey-question-title {
  font-size: 18px;
}

.author-title {
  color: #0a0a0a !important;
  font-size: 22px !important;
  font-weight: 600 !important;
}

.survey-question-title {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 8px;
}

.survey-question-title.confidence-title {
  text-align: center;
}

.survey-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
}

.survey-holder:last-child {
  margin: 0;
}

.survey-holder.is-center {
  align-items: center;
  justify-content: center;
}

.survey-holder .questions-list__item {
  margin-right: 20px;
}

.survey-results {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 18px;
}

.survey-results .survey-results-item {
  margin-right: 60px;
}

.survey-results .survey-results-item:last-child {
  margin-right: 0;
}

.survey-results-item {
  margin: 0 0 12px;
}

.survey-results-item__title {
  font-size: 16px;
}

.survey-results-item__percents {
  font-size: 14px;
  text-align: right;
}

.survey-holder input[type="radio"][disabled] + .questions-list__text {
  cursor: initial;
  opacity: .5;
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  display: none;
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
.instructor-info-action {
    display: none;
}

.bookmark-button{
    display: none;
}

.unit-title {
    display: none;
}
.row {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
}

.mascot-img {
  width: 225px;
  float: right;
  position: absolute;
  top: 179px;
  right: 113px;
}

.wrapper-page{
  position: relative;
}

@media screen and (max-width: 759px) {
  .survey-results {
    flex-direction: column;
  }

  .survey-results-item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .survey-results-item__percents {
    margin-left: 12px;
  }
}
