<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<div class="home-bg">
<main id="main" aria-label="Content" tabindex="-1" class="homepage">
    <section class="home">
      <header style="background: transparent;box-shadow: none;">
<iframe width="50vh" height="auto" style="width: 50%;margin: 0 auto;display: block;min-height: 50vh;" src="https://www.youtube.com/embed/6KA-f1ISzSQ?autoplay=0&showinfo=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </header>
	<section style="margin: 0 auto;background: #ffffff;width: 50%; margin-top: 25px ;margin-bottom: -50px;">
    <div class="text-center" style="width: 80%;background-color: white;padding: 25px;margin: 0 auto;">
    <p style="font-size:16px;">Tinand cont de conditiile actuale, accesul pe platforma de educatie interactiva <a href="http://tedix.ro">www.tedix.ro</a><b> este GRATUIT</b>, puteti sa va inregistrati <a href="http://www.tedix.ro/register">AICI</a>.</p>
	<p>Recomandam utilizarea dispozitivelor de tip PC / Tableta. Accesul MOBIL este posibil dar nu este optimizat momentan.</p>
    <p style="font-size:16px;">Asteptam parerile si sugestiile voastre pentru a imbunatati acest proiect la <a href="mailto:sugestii@tedix.ro">sugestii@tedix.ro</a>. Multa sanatate! Echipa TEDIX. </p>
    </div>
	</section>
    <section class="find-courses" style="background:transparent!important;">
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="courses-listing">
            <li class="courses-listing-item">
				<article class="course" id="course-v1:Tedix+5+v1" role="region" aria-label="Curs clasa a V-a">
				  <a href="/courses_cl5">
					<header class="course-image">
					  <div class="cover-image">
						<img src="${static.url("images/cl5.png")}">
						<div class="learn-more" aria-hidden="true">Vezi Cursuri</div>
					  </div>
					</header>
					<div class="course-info" aria-hidden="true">
					  <h2 class="course-name">
						<span class="course-organization">Tedix</span>
						<span class="course-code">5</span>
						<span class="course-title">Lista cursuri clasa a V-a</span>
					  </h2>
					</div>
					<div class="sr">
					  <ul>
						<li>Tedix</li>
						<li>5</li>
							<li>Starts: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="2018-12-07T00:00:00+0000">Dec 7, 2018</time></li>
					  </ul>
					</div>
				  </a>
				</article>
            </li>
			            <li class="courses-listing-item">
				<article class="course" id="course-v1:Tedix+5+v1" role="region" aria-label="Curs clasa a V-a">
				  <a href="/courses_cl6">
					<header class="course-image">
					  <div class="cover-image">
						<img src="/static/red-theme/images/cl6.png">
						<div class="learn-more" aria-hidden="true">Vezi Cursuri</div>
					  </div>
					</header>
					<div class="course-info" aria-hidden="true">
					  <h2 class="course-name">
						<span class="course-organization">Tedix</span>
						<span class="course-code">5</span>
						<span class="course-title">Lista cursuri clasa a VI-a</span>
					  </h2>
					</div>
					<div class="sr">
					  <ul>
						<li>Tedix</li>
						<li>5</li>
							<li>Starts: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="2018-12-07T00:00:00+0000">Dec 7, 2018</time></li>
					  </ul>
					</div>
				  </a>
				</article>
            </li>
			            <li class="courses-listing-item">
				<article class="course" id="course-v1:Tedix+5+v1" role="region" aria-label="Curs clasa a V-a">
				  <a href="/courses_cl7">
					<header class="course-image">
					  <div class="cover-image">
						<img src="${static.url("images/cl7.png")}">
						<div class="learn-more" aria-hidden="true">Vezi Cursuri</div>
					  </div>
					</header>
					<div class="course-info" aria-hidden="true">
					  <h2 class="course-name">
						<span class="course-organization">Tedix</span>
						<span class="course-code">5</span>
						<span class="course-title">Lista cursuri clasa a VII-a</span>
					  </h2>
					</div>
					<div class="sr">
					  <ul>
						<li>Tedix</li>
						<li>5</li>
							<li>Starts: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="2018-12-07T00:00:00+0000">Dec 7, 2018</time></li>
					  </ul>
					</div>
				  </a>
				</article>
            </li>
			            <li class="courses-listing-item">
				<article class="course" id="course-v1:Tedix+5+v1" role="region" aria-label="Curs clasa a V-a">
				  <a href="/courses_cl8">
					<header class="course-image">
					  <div class="cover-image">
						<img src="${static.url("images/cl8.png")}">
						<div class="learn-more" aria-hidden="true">Vezi Cursuri</div>
					  </div>
					</header>
					<div class="course-info" aria-hidden="true">
					  <h2 class="course-name">
						<span class="course-organization">Tedix</span>
						<span class="course-code">5</span>
						<span class="course-title">Lista cursuri clasa a VIII-a</span>
					  </h2>
					</div>
					<div class="sr">
					  <ul>
						<li>Tedix</li>
						<li>5</li>
							<li>Starts: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="2018-12-07T00:00:00+0000">Dec 7, 2018</time></li>
					  </ul>
					</div>
				  </a>
				</article>
            </li>
		
          </ul>
        </div>


        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif

      </section>
    </section>	  
    </section>
</main>
</div>
% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
