html, body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 100% !important;
    font-style: normal;
    line-height: 1em;
}

html {
    font-size: 100% !important;
	}