<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);

        window.exFields = ['parent_email', 'parent_phone', 'classroom', 'instructor'];
        // when role changes show/hide required fields
        $(document).on('change', '#register-role', function() {
            var isStudent = this.value === 'student';
            window.exFields.forEach(function(field_name) {
                var field = $('#register-' + field_name);
                if (isStudent) {
                    field.val('');
                    field.attr('required', true);
                    field.parent('.form-field').show();
                } else {
                    field.removeAttr('required');
                    field.parent('.form-field').hide();
                }
            });
        });

        $(document).ready(function(){
            var label_span_school = '<span id="sity-optional-help" class="label-optional">Please select your city first.</span>';
            var label_span_instructor = '<span id="instructor-optional-help" class="label-optional">Please select your school first.</span>';
            $('#register-school, #register-instructor').prop('disabled', 'disabled');
            $('[for="register-school"]').append(label_span_school);
            $('[for="register-instructor"]').append(label_span_instructor);
            $(document).on('change', '#register-school_city', function(event) {
                var $schoolField = $('#register-school');
                var cityFieldValue = $(event.currentTarget).val();
                if (cityFieldValue) {
                    $schoolField.children('option:not(:first)').remove();
                    $schoolField.prop('disabled', false);
                    $.ajax({
                        type: 'GET',
                        url: '${cities_api_url}' + cityFieldValue,
                        success: (sity) => {
                            var $schoolField = $('#register-school');
                                $.each(sity.schools, (ind, school) => {
                                    console.log(sity)
                                    $schoolField.append(
                                        '<option value="' + school.id + '" >' + school.name + "</option>"
                                    )
                                })
                        }
                    });
                    $('#sity-optional-help').remove();
                    if (!$('#instructor-optional-help').text()) {
                        $('[for="register-instructor"]').append(label_span_instructor);
                    }
                } else {
                    $schoolField.prop('disabled', 'disabled');
                    $('[for="register-school"]').append(label_span_school);
                }
                $('#register-school').val('');
                $('#register-instructor').val('');
                $('#register-instructor').children('option:not(:first)').remove();
                $('#register-instructor').prop('disabled', 'disabled');
            });
            $(document).on('change', '#register-school', function(event) {
                var schoolFieldValue = $(event.currentTarget).val();
                var $instructorField = $('#register-instructor');
                if (schoolFieldValue) {
                    $instructorField.children('option:not(:first)').remove();
                    $instructorField.prop('disabled', false);
                    $.ajax({
                        type: 'GET',
                        url: '${schools_api_url}' + schoolFieldValue,
                        success: (school) => {
                            var $instructorField = $('#register-instructor');
                                $.each(school.instructors, (ind, instructor) => {
                                    console.log(instructor)
                                    $instructorField.append(
                                        '<option value="' + instructor.id + '" >' + instructor.username + "</option>"
                                    )
                                })
                        }
                    });
                    $('#instructor-optional-help').remove();
                }  else {
                    $instructorField.prop('disabled', 'disabled');
                    $('[for="register-instructor"]').append(label_span_instructor);
                    $instructorField.val('');
                }
            });
        });

        $('#register-phone, #register-parent_phone').on('change blur keyup', (e)=>{
            var stringLength = e.target.value.length;
            var newString = '';
            for (var i=0; i < stringLength; i++) {
                if (!e.target.value[i].match(/[^0-9]/g)) {
                    newString += e.target.value[i];
                }
            }
            $(e.target).val(newString);
        });
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor
</%block>

<link href="${static.url('css/vendor/select2/4.0.6-rc.0/select2.min.css')}" rel="stylesheet" />
<script type="text/javascript" src="${static.url('js/vendor/select2/4.0.6-rc.0/select2.min.js')}"></script>

<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>
