## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>

<%
subsection_new = subsection_vertical.get('children')
%>
<main role="main" class="course-outline" id="main" tabindex="-1">

% if course_sections is not None:
    <!-- select page -->
    <div class="onboarding-holder">
        <div class="mascot mascot__left">
            <img class="mascot-image" src="/static/${settings.DEFAULT_SITE_THEME}/images/hera_mascot.png" alt="HERA-mascot" />
        </div>
        <div class="onboarding-content">
            <h1>
                Choose a lesson
            </h1>
            <div class="selection-holder">
            % for vertical in subsection_new:
                % if vertical.get('complete'):
                    <a href="${ vertical['lms_web_url'] }" class="selection-item passed" id="${ vertical['id'] }">
                        % if vertical.get('lesson_logo'):
                            <img src="${ vertical['lesson_logo'] }" alt="Lesson-image">
                        % else:
                            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/selection/selection-1.png" alt="Lesson-image">
                        % endif
                        <span>
                        ${ vertical['display_name'] }
                        </span>
                    </a>
                % else:
                    <a href="${ vertical['lms_web_url'] }" class="selection-item" id="${ vertical['id'] }">
                        % if vertical.get('lesson_logo'):
                            <img src="${ vertical['lesson_logo'] }" alt="Lesson-image">
                        % else:
                            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/selection/selection-1.png" alt="Lesson-image">
                        % endif
                        <span>
                        ${ vertical['display_name'] }
                        </span>
                    </a>
                % endif
            % endfor
            </div>
        </div>
    </div>
% endif
</main>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>

<%static:webpack entry="CourseOutline">
    new CourseOutline();
</%static:webpack>
