## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
from datetime import date

from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>


<main role="main" class="course-outline" id="main" tabindex="-1">
    <div class="hera-dashboard">
        <div class="hera-dashboard__header">
            <div class="hera-message">
                <div class="hera-message__text">
                    <p>
                    % if is_lesson_complete:
                        You did it!<br>All lessons are complete.
                    % elif last_completed_subsection.get('medal'):
                        Great work! You earned a
                        ${last_completed_subsection['medal'].capitalize()} Medal
                        for ${last_completed_subsection.get('display_name')}!
                        Keep going with the remaining lessons.
                    % else:
                        Your grade for the last completed lesson will be displayed here.
                    % endif
                    </p>

                </div>
                <div class="hera-mascot">
                    <img class="hera-mascot__img" src="${dashboard_mascots.get('user_dashboard') or '/static/{}/images/mascots/mascot_pose-welcome.svg'.format(settings.DEFAULT_SITE_THEME)}" alt="/">
                </div>
            </div>
            <div class="hera-grades">
                % if dashboard_medals:
                    % for medal in dashboard_medals:
                        <div class="hera-grades__item">
                            <img class="hera-grades__img" src="${medal.image.url}" alt="/">
                            <div class="hera-grades__points">
                                ${medal.min}-${medal.max} points
                            </div>
                            <div class="hera-grades__title">
                                ${medal.title}
                            </div>
                        </div>
                    % endfor
                % endif
            </div>
        </div>
        <div class="hera-dashboard-progress-body">
            % for subsection in ordered_subsections:
                    <div class="hera-dashboard-progress-body__item is-unlocked">
                        <div class="hera-dashboard-progress-header__item">
                            <div class="hera-lesson__title">
                                ${subsection.get('display_name')}
                            </div>
                            <div class="hera-lesson__status">
                                % if subsection.get('points') is not None:
                                    Complete
                                % endif
                            </div>
                        </div>
                        <div class="dna-unlocked">
                            <div class="dna-icon">
                                <a href="${ subsection.get('lms_web_url', '') }">
                                    % if subsection.get('points') is not None:
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    % endif
                                </a>
                            </div>
                            % if subsection.get('medal_dna_icon'):
                                <div class="dna-connector">
                                    <img class="dna-connector__img" src="${subsection['medal_dna_icon']}" alt="/">
                                </div>
                            % endif
                        </div>
                    </div>
            % endfor
            % for i in range(8 - len(ordered_subsections)):
                <div class="hera-dashboard-progress-body__item is-locked">
                    <div class="hera-dashboard-progress-header__item">
                        <div class="hera-lesson__title">
                            Lesson ${i + len(ordered_subsections) + 1}
                        </div>
                    </div>
                    <div class="dna-locked">
                        <div class="dna-icon">
                            <img class="dna-icon__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/dna/lock_icon.svg" alt="/">
                        </div>
                    </div>
                </div>
            % endfor
        </div>
        <div class="hera-dna-bg">
            <img class="hera-dna-bg__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/DNA_bg.svg" alt="/">
        </div>
    </div>

    <div id="modal-continue" data-show-popup="${popup}" style="display:none">
        <div class="onboarding-holder">
            <button class="modal-continue_close popup_close" title="Close" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="onboarding-holder">
                <div class="onboarding-content">
                    <h1>
                        Welcome back!
                    </h1>
                    <div class="onboarding-text-block">
                        <p>
                            Last time you signed out you were in the middle of a lesson.
                            <br />
                            Would you like to pick up where you left off, or start that lesson over?
                        </p>
                    </div>
                    <div class="footer-controls-buttons-holder">
                        <a href="${start_over_url}" class="btn btn-prev">Start Over</a>
                        <a href="${continue_url}" class="btn btn-primary">Continue</a>
                    </div>
                </div>
                <div class="mascot">
                    <img class="mascot-image" src="${dashboard_mascots.get('user_dashboard_modal') or '/static/{}/images/mascots/mascot_pose-welcome.svg'.format(settings.DEFAULT_SITE_THEME)}" alt="HERA-mascot" />
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    var $modalContinue = $("#modal-continue");
    $modalContinue.popup({
        scrolllock: true,
        blur: false
    });
    var showPopup = $modalContinue.data('showPopup');
    if (showPopup === "True") {
        $modalContinue.popup('show');
    }
</script>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>

<%static:webpack entry="CourseOutline">
    new CourseOutline();
</%static:webpack>
