{% load i18n %}{% load url from future %}{% autoescape off %}
<p>
    Guten Tag!
</p>
<p>
Um Ihren Video-Training Account von trainit.academy aktivieren zu können ben&ouml;tigen Sie ein Passwort. 
    
</p>
<p>Bitte besuchen sie uns unter  </p>

{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}
<p>

und w&auml;hlen Sie ein Passwort. 
</p>
<p>
Danke, dass Sie trainit.academy benutzen
</p><p>
Herzliche Gr&uuml;ße, das ETC Trainit Team
    
</p>

{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}

{% endautoescape %}

