{% load i18n %}{% load url from future %}{% autoescape off %}
  <p>
    {% trans "To use your online training account, please follow the link below and assign an individual password:" %}
  </p>
  {% block reset_link %}
    {{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
  {% endblock %}
  <p>{% trans "If you have any questions, please do not hesitate to contact us!" %}</p>
  <p>{% trans "Best regards," %}</p>
  <p>{% trans "Your Learning Service Team" %}</p>
  <p>
  {% trans "ETC - Enterprise Training Center" %} <br>
  {% trans "1030 Vienna, Modecenterstrasse 22/Office 4" %} <br>
  {% trans "T:" %} +43 1 533 1 777 - 0 <br>
  {% trans "mailto" %}: LSS@etc.at <br>
  http://www.etc.at
  </p>
  <p>
  {% trans "Labeling according to § 14 UGB" %}: <br>
  {% trans "ETC - Enterprise Training Center GmbH, Modecenterstrasse 22 / Office 4, 1030 Vienna | Commercial Court Vienna, FN 430941m" %}
  </p>
{% endautoescape %}

