<%inherit file="main.html" />
<%! from django.utils.translation import ugettext as _ %>
<%! from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers %>

<%block name="message">
  <p>
    ${_("Thank you for registering with {platform_name}! You will shortly receive an email to activate your account. "
    "Please also check your spam folder").format(
        platform_name=configuration_helpers.get_value('PLATFORM_NAME', settings.PLATFORM_NAME)
    )}
  </p>
  <p>${_("If you have any questions, please do not hesitate to contact us!")}</p>
  <p>${_("Best regards,")}</p>
  <p>${_("Your Learning Service Team")}</p>
  <p>
  ${_("ETC - Enterprise Training Center")} <br>
  ${_("1030 Vienna, Modecenterstrasse 22/Office 4")} <br>
  ${_("T:")} +43 1 533 1 777 - 0 <br>
  ${_("mailto")}: LSS@etc.at <br>
  http://www.etc.at
  </p>
  <p>
  ${_("Labeling according to § 14 UGB")}: <br>
  ${_("ETC - Enterprise Training Center GmbH, Modecenterstrasse 22 / Office 4, 1030 Vienna | Commercial Court Vienna, FN 430941m")}
  </p>
</%block>

