<!-- {% block message %} -->
<table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0;">
    <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0; max-width: 600px; width: 100%">
                    <tbody>
                        <tr>
                            <td>
                                <div style="width: 100%; height: 112px; background: #424242;">
                                    <img src="logo.png" border="0" width="220" height="110" style="display: block; margin: 0 auto 0" alt="Lakeside_logo">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <%block name="message"></%block>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- {% endblock %} -->
