<%inherit file="main.html" />
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<%block name="message">
<img style="width: 100%; display: block; margin-bottom: 15px;" src="${settings.LMS_ROOT_URL}/static/${settings.DEFAULT_SITE_THEME}/images/email-template-banner.jpg" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
<p>
${_("Hi {full_name},").format(full_name=full_name)}
</p>
<p>
${_("Thanks for submitting your photos!")}
</p>
<p>
${_("We've received your information and the verification process has begun. You can check the status of the verification process on your dashboard.")}
</p>
<p>
${_("Thank you,")}
 
${_("The {platform_name} team").format(platform_name=platform_name)}
</p>
</%block>
