{% extends "emails/base_email.html" %}
{% block body %}
<p>
Ati primit tema de casa.<br>
    {% if due_date %}
    <br>Data limita pentru aceasta tema de casa este: {{ due_date }}
    {% endif %}
    <br>Puteti accesa tema de casa aici:
    {% for course_url, course_name in courses %}
    <br><a href="{{ course_url }}">{{ course_name }}</a>
    {% endfor %}
</p>

<br>Va uram spor la lucru!

<br>Echipa {{ platform_name }}.<br>



<p>
Daca intampinati dificultati in utilizarea sistemului, va rugam sa ne contactati utilizand datele de la <a href="{{ lms_url }}/support/contact_us">sectiunea de contact</a> sau pe e-mail email la {{ support_email }}

<br>Acest e-mail a fost trimis automat de catre {{ lms_url }}
</p>
{% endblock %}
