{"EDEOS_API": {
    "EDEOS_GATE_URL": "http://<<gate_domain_goes_here>>",
    "EDEOS_AUTH": {
        "client_id": "issued_client_id_goes_here",
        "client_secret": "issued_client_secret_goes_here"
        }
    }
}
