<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Cursuri clasa 5-a")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="course-view page-content-container ">
			<div class="page-header">
			<h1>
				<%block name="pageheader">${page_header or _("Lista cursuri pentru clasa a 5-a")}</%block>
			</h1>
		</div>
	<div class="page-content course-section">
			<div class="section-title">
				<h2>Algebra</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.1+Clasa5">1.1 Operații cu numere naturale: Scrierea și citirea numerelor naturale.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.2+Clasa5">1.2 Operații cu numere naturale: Reprezentarea pe axa numerelor. Compararea și ordonarea numerelor naturale; aproximări, estimări.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.3+Clasa5">1.3 Operații cu numere naturale: Adunarea numerelor naturale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.4+Clasa5">1.4 Operații cu numere naturale: Scăderea numerelor naturale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.5+Clasa5">1.5 Operații cu numere naturale: Înmulțirea numerelor naturale.</a>
				</li>		
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.6+Clasa5">1.6 Operații cu numere naturale: Factor comun.</a>
				</li>		
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.7+Clasa5">1.7 Operații cu numere naturale: Împărțirea cu rest zero a numerelor naturale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.8+Clasa5">1.8 Operații cu numere naturale: Împărțirea cu rest a numerelor naturale.</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.9+Clasa5">1.9 Operații cu numere naturale: Puterea cu exponent natural a unui număr natural. Pătratul unui număr natural.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.10+Clasa5">1.10 Operații cu numere naturale: Reguli de calcul cu puteri.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.11+Clasa5">1.11 Operații cu numere naturale: Compararea puterilor.</a>
				</li>					
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.12+Clasa5">1.12 Operații cu numere naturale: Scrierea în baza 10. Scrierea în baza 2.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-1.13+Clasa5">1.13 Operații cu numere naturale: Ordinea efectuării operațiilor; utilizarea parantezelor.</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-2.1+Clasa5/">2.1 Metode aritmetice de rezolvare a problemelor: Metoda reducerii la unitate.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-2.2+Clasa5/">2.2 Metode aritmetice de rezolvare a problemelor: Metoda comparației.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-2.3+Clasa5">2.3 Metode aritmetice de rezolvare a problemelor: Metoda figurativă (grafică).</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-2.4+Clasa5">2.4 Metode aritmetice de rezolvare a problemelor: Metoda mersului invers.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-2.5+Clasa5">2.5 Metode aritmetice de rezolvare a problemelor: Metoda falsei ipoteze.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-3.1+Clasa5">3.1 Divizibilitatea numerelor naturale: Divizibilitatea numerelor naturale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-3.2+Clasa5">3.2 Divizibilitatea numerelor naturale: Criterii de divizibilitate.</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-3.3+Clasa5">3.3 Divizibilitatea numerelor naturale: Numere prime. Numere compuse.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.1+Clasa5">4.1 Fracții ordinare: Fracții echivalente. Procente.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.2+Clasa5">4.2 Fracții ordinare: Compararea fracțiilor cu același numarător/numitor. Reprezentarea fracțiilor ordinare pe axa numerelor.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.3+Clasa5">4.3 Fracții ordinare: Introducerea și scoaterea întregilor dintr-o fracție.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.4+Clasa5">4.4 Fracții ordinare: Cel mai mare divizor comun a două numere naturale. Amplificarea și simplificarea fracțiilor. Fracții ireductibile.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.5+Clasa5">4.5 Fracții ordinare: Cel mai mic multiplu comun a două numere naturale. Aducerea fracțiilor la un numitor comun.</a>
				</li>			
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.6+Clasa5">4.6 Fracții ordinare: Adunarea și scăderea fracțiilor.</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.7+Clasa5">4.7 Fracții ordinare: Înmulțirea fracțiilor.</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.8+Clasa5">4.8 Fracții ordinare: Împărțirea fracțiilor ordinare.</a>
				</li>		
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.9+Clasa5">4.9 Fracții ordinare: Ridicarea la putere a unei fracții ordinare.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-4.10+Clasa5">4.10 Fracții ordinare: Fracții/procente dintr-un număr natural sau dintr-o fracție ordinară.</a>
				</li>							
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.1+Clasa5/">5.1 Fracții zecimale: Fracții zecimale; scrierea fracțiilor ordinare cu numitori puteri ale lui 10 sub formă de fracții zecimale cu un număr finit de zecimale nenule în fracție ordinară.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.2+Clasa5/">5.2 Fracții zecimale: Aproximări; compararea, ordonarea și reprezentarea pe axa numerelor a numerelor zecimale cu un număr finit de zecimale.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.3+Clasa5/">5.3 Fracții zecimale: Adunarea și scăderea fracțiilor zecimale cu un număr finit de zecimale</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.4+Clasa5/">5.4 Fracții zecimale: Înmulțirea fracțiilor zecimale cu un număr finit de zecimale nenule.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.5+Clasa5/">5.5 Fracții zecimale: Împărțirea a două numere naturale cu rezultat fracție zecimală; aplicație: media aritmetică a două numere naturale; transformarea unei fracții ordinare într-o fracție zecimală; periodicitate.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.6+Clasa5/">5.6 Fracții zecimale: Împărțirea unei fracții zecimale cu un număr finit de zecimale la un număr natural nenul; împărțirea a două fracții zecimale finite. Transformarea unei fracții zecimale periodice în fracție ordinară.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.7+Clasa5/">5.7 Fracții zecimale: Număr rațional pozitiv; ordinea efectuării operațiilor cu numere raționale pozitive.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.8+Clasa5/">5.8 Fracții zecimale: Metode aritmetice pentru rezolvarea problemelor cu fracții în care intervin și unități de măsură pentru lungime, arie, volum, capacitate, masă, timp și unități monetare.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Algebra-5.9+Clasa5/">5.9 Fracții zecimale: Probleme de organizare a datelor. Frecventă. Grafice cu bare. Grafice cu linii. Media unui set de date satistice.</a>
				</li>
			</ul>
			<div class="section-title">
				<h2>Geometrie</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-1.1+Clasa5">1.1 Elemente de geometrie: Punct, dreaptă, plan, semiplan, semidreaptă, segment de dreaptă.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-1.2+Clasa5/">1.2 Elemente de geometrie: Pozițiile relative ale unui punct față de o dreaptă. Puncte coliniare. Axioma dreptei. Pozițiile relative a două drepte; drepte concurente, drepte paralele.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-1.3+Clasa5/">1.3 Elemente de geometrie: Lungimea unui segment. Distanța dintre două puncte. Segmente congruente.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-1.4+Clasa5/">1.4 Elemente de geometrie: Mijlocul unui segment. Simetricul unui punct față de un punct.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-1.5+Clasa5/">1.5 Elemente de geometrie: Unghi: definitie, elemente. Interiorul unui unghi, exteriorul unui unghi. Măsura unui unghi. Operații cu măsuri de unghiuri. Unghiuri congruente. Clasificări.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-1.6+Clasa5/">1.6 Elemente de geometrie: Figuri congruente. Axa de simetrie.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-2.1+Clasa5/">2.1 Uități de măsură: Unități de măsură pentru lungime. Perimetrul.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-2.2+Clasa5">2.2 Unități de măsură: Unități de măsură pentru arie. Aplicații: aria pătratului/dreptunghiului.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-2.3+Clasa5/">2.3 Unități de măsură: Unități pentru volum. Volumul cubului și al paralelipipedului dreptunghic.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-2.4+Clasa5/">2.4 Unități de măsură: Unități de măsură pentru masă; transformări.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa5-Geometrie-2.5+Clasa5/">2.5 Unități de măsură: Unități de măsură pentru timp și unități monetare.</a>
				</li>
		
			</ul>
		</div>
    </section>
</main>