<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Cursuri clasa 7-a")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="course-view page-content-container ">
			<div class="page-header">
			<h1>
				<%block name="pageheader">${page_header or _("Lista cursuri pentru clasa a 7-a")}</%block>
			</h1>
		</div>
	<div class="page-content course-section">
			<div class="section-title">
				<h2>Algebra</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-1.1+Clasa7/">1.1 Mulțimi de numere; operații cu mulțimi: Mulțimea numerelor naturale și mulțimea numerelor întregi. Câteva noțiuni introductive.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-1.2+Clasa7/">1.2 Mulțimi de numere; operații cu mulțimi: Muțimea numerelor naturale și a numerelor întregi. Operații: Modulul unui număr întreg. Puterile lui "-1"</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-2.1+Clasa7/">2.1 Mulțimea numerelor raționale: Reprezentarea pe axa numerelor.</a>
				</li>					
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-2.2+Clasa7/">2.2 Mulțimea numerelor raționale: Modulul unui număr rațional. Opusul unui număr rațional. Partea întreagă. Partea fracționară a unui număr rațional.</a>
				</li>		
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-2.3+Clasa7/">2.3 Mulțimea numerelor raționale: Operații cu numere raționale: adunarea și scăderea numerelor raționale.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-2.4+Clasa7/">2.4 Mulțimea numerelor raționale: Înmulțirea, împărțirea, ridicarea la putere a numerelor raționale.</a>
				</li>					
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-2.5+Clasa7/">2.5 Mulțimea numerelor raționale: Ordinea efectuării operațiilor/Ordinea efectuării parantezelor.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-2.6+Clasa7/">2.6 Mulțimea numerelor raționale: Ecuația de gradul I</a>
				</li>		
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-3.1+Clasa7/">3.1 Mulțimea numerelor reale: Ce este un număr irațional? Cum arată el? Numere iraționale egale.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-3.2+Clasa7/">3.2 Mulțimea numerelor reale: Rădăcina pătrată a unui număr rațional pozitiv. Algoritmul de extragere a rădăcinii pătrate.</a>
				</li>					
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-3.3+Clasa7/">3.3 Mulțimea numerelor reale: Compararea radicalilor. Modulul unui număr real.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-3.4+Clasa7/">3.4 Mulțimea numerelor reale: Operații cu numere reale; calcule cu radicali; media geometrică a două numere reale pozitive.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-3.5+Clasa7/">3.5 Mulțimea numerelor reale: Raționalizarea numitorilor de forma a radical din b.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-4.1+Clasa7/">4.1 Calcul algebric: Calcule cu numere reale reprezentate prin litere; adunarea, scăderea; înmulțirea, ridicarea la putere, reducerea termenilor asemenea</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-4.2+Clasa7/">4.2 Calcul algebric: Formule de calcul prescurtat; metode de descompunere; raționalizare; ecuația de grad II</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-4.3+Clasa7/">4.3 Calcul algebric: Ecuații de forma a la pătrat egal cu a.</a>
					</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-4.4+Clasa7/">4.4 Calcul algebric: Proprietăți ale relației de egalitate; ecuații de grad I(mulțimea soluțiilor unei ecuații); proprietăți; inecuații de forma de grad I; probleme ce se rezolvă cu ajutorul ecuațiilor</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-4.5+Clasa7/">4.5 Calcul algebric: Propietățile relației mai mic sau egal pe R. Inecuații de forma ax plus b mai mare ca 0.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-5.1+Clasa7/">5.1 Elemente de organizare a datelor: Produsul cartezian a două mulțimi nevide; reprezentarea într-un sistem de axe perpendiculare(ortogonale) a unor perechi de numere întregi; reprezentarea punctelor în plan cu ajutorul sistemului de axe ortogonale(distanța dintre două puncte în plan)</a>
				</li>					
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Algebra-5.2+Clasa7/">5.2 Elemente de organizare a datelor: Probabilitatea realizării unor evenimente</a>
				</li>										
			</ul>
			<div class="section-title">
				<h2>Geometrie</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-1.1+Clasa7/">1.1 Patrulatere: Patrulater convex; suma măsurilor unghiurilor unui patrulater convex.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-1.2+Clasa7/">1.2 Patrulatere: Paralelogramul. Proprietăți.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-1.3+Clasa7/">1.3 Patrulatere: Paralelograme particulare(dreptunghi, romb, pătrat).</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-1.4+Clasa7/">1.4 Patrulatere: Trapez: clasificare; proprietăți.</a>
				</li>					
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-1.5+Clasa7/">1.5 Patrulatere: Linii mijlocii. Arii: aria triunghiului și aria patrulaterului</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-2.1+Clasa7/">2.1 Asemănarea triunghiurilor: Segmente proporționale, teorema paralelelor echidistante, împărțirea unui segment în segmente proporționale cu numere(segmente) date. Teorema lui Thales. Reciproca teoremei lui Thales. Teorema paralelelor neechidistante.</a>
				</li>		
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-2.2+Clasa7/">2.2 Asemănarea triunghiurilor: Linii mijlocii. Linia mijlocie în triunghi. Linia mijlocie în trapez.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-2.3+Clasa7/">2.3 Asemănarea triunghiurilor: Triunghiuri asemenea. Criterii de asemănare a triunghiurilor. Teorema fundamentală a asemănării.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-3.1+Clasa7/">3.1 Relații metrice în triunghiul dreptunghic: Proiecții ortogonale pe o dreaptă. Teorema înălțimii. Teorema catetei.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-3.2+Clasa7/">3.2 Relații metrice în triunghiul dreptunghic: Noțiuni de trigonometrie în triunghiul dreptunghic. Sinusul, cosinusul, tangenta, cotangenta unui unghi ascuțit.</a>
				</li>		
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-3.3+Clasa7/">3.3 Relații metrice în triunghiul dreptunghic: Ariile triunghiurilor și patrulaterelor.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-4.1+Clasa7/">4.1 Cercul.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa7-Geometrie-4.2+Clasa7/">4.2 Cercul: Poligoane regulate</a>
				</li>		
			</ul>
		</div>
    </section>
</main>