<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Cursuri clasa 7-a")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="course-view page-content-container ">
			<div class="page-header">
			<h1>
				<%block name="pageheader">${page_header or _("Lista cursuri pentru clasa a 7-a")}</%block>
			</h1>
		</div>
	<div class="page-content course-section">
			<div class="section-title">
				<h2>Algebra</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.1+Clasa7/">1.1 Mulțimea numerelor reale: Rădăcina pătrată a pătratului unui număr natural.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.2+Clasa7/">1.2 Mulțimea numerelor reale: Estimarea rădăcinii pătrate dintr-un număr rațional.</a>
				</li>		
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.3+Clasa7/">1.3 Multimea numerelor reale: Scoaterea factorilor de sub radical; introducerea factorilor sub radical.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.4+Clasa7/">1.4 Mulțimea numerelor reale: Numere iraționale, exemple; mulțimea numerelor reale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.5+Clasa7/">1.5 Mulțimea numerelor reale: Compararea și ordonarea numerelor reale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.6+Clasa7/">1.6 Mulțimea numerelor reale: Reprezentarea numerelor reale pe axa numerelor prin aproximări. Modul.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.7+Clasa7/">1.7 Mulțimea numerelor reale: Adunarea și scăderea numerelor reale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.8+Clasa7/">1.8 Mulțimea numerelor reale: Înmulțirea și împărțirea numerelor reale.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.9+Clasa7/">1.9 Mulțimea numerelor reale: Puteri cu exponent întreg.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.10+Clasa7/">1.10 Mulțimea numerelor reale: Raționalizarea numitorilor de forma a radical din b.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.11+Clasa7/">1.11 Mulțimea numerelor reale: Media aritmetică ponderată a n numere naturale, n mai mare sau egal cu 2. Media geometrică.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-1.12+Clasa7/">1.12 Mulțimea numerelor reale: Ecuații de forma x la pătrat egal cu a, unde a apartine lui R.</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-2.1+Clasa7/">2.1 Ecuații și sisteme de ecuații liniare: Transformarea unei egalități într-o egalitate echivalentă; identități. Ecuații de forma ax+b=0, unde a și b aparțin lui R. Mulțimea soluțiilor unei ecuații. Ecuații echivalente.</a>
				</li>					
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-2.2+Clasa7/">2.2 Ecuații și sisteme de ecuații liniare: Ecuații de gradul întâi cu două necunoscute.</a>
				</li>		
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-2.3+Clasa7/">2.3 Ecuații și sisteme de ecuații liniare: Sisteme de ecuații liniare cu două necunoscute. Rezolvarea sistemelor prin metoda substituției. Rezolvarea sistemelor prin metoda reducerii.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-2.4+Clasa7/">2.4 Ecuații și sisteme de ecuații liniare : Probleme care se rezolvă cu ajutorul ecuațiilor și a sistemelor de ecuații liniare.</a>
				</li>						
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-3.1+Clasa7/">3.1 Elemente de organizare a datelor: Reprezentarea perechilor de numere și a punctelor geometrice într-un sistem de axe ortogonale. Distanța dintre două puncte în plan.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-3.2+Clasa7/">3.2 Elemente de organizare a datelor: Reprezentarea și interpretarea unor dependențe funcționale prin tabele, diagrame și grafice. Poligonul frecvenței.</a>
				</li>									
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.1+Clasa7/">4.1 Alte lecții: Mulțimea numerelor naturale și mulțimea numerelor întregi. Câteva noțiuni introductive.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.2+Clasa7/">4.2 Alte lecții: Muțimea numerelor naturale și a numerelor întregi. Operații: Modulul unui număr întreg. Puterile lui "-1"</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.3+Clasa7/">4.3 Alte lecții: Mulțimea numerelor raționale. Reprezentarea pe axa numerelor.</a>
					</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.4+Clasa7/">4.4 Alte lecții: Modulul unui număr rațional. Opusul unui număr rațional. Partea întreagă. Partea fracționară a unui număr rațional.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.5+Clasa7/">4.5 Alte lecții: Numere reale. Gruparea radicalilor. Modulul unui număr real.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.6+Clasa7/">4.6 Alte lecții: Înmulțirea, împărțirea, ridicarea la putere a numerelor raționale.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.7+Clasa7/">4.7 Alte lecții: Ordinea efectuării operațiilor/Ordinea efectuării parantezelor.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.8+Clasa7/">4.8 Alte lecții: Ecuația de gradul I.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.9+Clasa7/">4.9 Alte lecții: Numere reale. Proprietățile adunării și înmulțirii.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.10+Clasa7/">4.10 Alte lecții: Calcule cu numere reale reprezentate prin litere; adunarea, scăderea; înmulțirea, ridicarea la putere, reducerea termenilor asemenea</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.11+Clasa7/">4.11 Alte lecții: Formule de calcul prescurtat; metode de descompunere.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.12+Clasa7/">4.12 Alte lecții: Propietățile relației mai mic sau egal pe R. Inecuații de forma ax plus b mai mare ca 0.</a>
				</li>					
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.13+Clasa7/">4.13 Alte lecții: Produsul cartezian a două mulțimi nevide; reprezentarea într-un sistem de axe perpendiculare(ortogonale) a unor perechi de numere întregi; reprezentarea punctelor în plan cu ajutorul sistemului de axe ortogonale(distanța dintre două puncte în plan).</a>
				</li>		
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Algebra-4.14+Clasa7/">4.14 Alte lecții: Probabilitatea realizării unor evenimente.</a>
				</li>					
			</ul>
			<div class="section-title">
				<h2>Geometrie</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-1.1+Clasa7/">1.1 Patrulatere: Patrulater convex; suma măsurilor unghiurilor unui patrulater convex</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-1.2+Clasa7/">1.2 Patrulatere: Paralelogramul. Proprietăți.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-1.3+Clasa7/">1.3 Patrulatere: Linia mijlocie în triunghi. Centrul de greutate al unui triunghi.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-1.4+Clasa7/">1.4 Patrulatere: Paralelograme particulare(dreptunghi, romb, pătrat)</a>
				</li>					
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-1.5+Clasa7/">1.5 Patrulatere: Trapez: clasificare; proprietăți</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-1.6+Clasa7/">1.6 Patrulatere: Perimetre și arii: aria triunghiului și aria patrulaterului</a>
				</li>					
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-2.1+Clasa7/"> 2.1 <sup>*</sup>2.2 <sup>*</sup>2.3: Cercul: Coarde și arce în cerc, proprietăți. <sup>*</sup>Unghi înscris. <sup>*</sup>Tangente dintr-un punct exterior la cerc.</a>
				</li>		

				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-2.4+Clasa7/">2.4 Cercul: Poligoane regulate înscrise în cerc <sup>*</sup>Lungimea cercului și aria discului.</a>
				</li>

				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-3.1+Clasa7/">3.1 <sup>*</sup>3.2 <sup>*</sup>3.3: Asemănarea triunghiurilor: Segmente proporționale, teorema paralelelor echidistante. <sup>*</sup>Teorema lui Thales. <sup>*</sup>Reciproca teoremei lui Thales. Teorema paralelelor neechidistante.</a>
				</li>	
		
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-3.4+Clasa7/">3.4 <sup>*</sup>3.5: Asemănarea triunghiurilor: Triunghiuri asemenea. Teorema fundamentală a asemănării. <sup>*</sup>Criterii de asemănare a triunghiurilor.</a>
				</li>					
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-4.1+Clasa7/">4.1 <sup>*</sup>4.2: Relații metrice în triunghiul dreptunghic: Proiecții ortogonale pe o dreaptă. Teorema înălțimii. Teorema catetei. <sup>*</sup>Teorema lui Pitagora</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-4.3+Clasa7/">4.3 <sup>*</sup>4.4: Relații metrice în triunghiul dreptunghic: Noțiuni de trigonometrie în triunghiul dreptunghic. Sinusul, cosinusul, tangenta, cotangenta unui unghi ascuțit. <sup>*</sup>Noțiuni de trigonometrie în triunghiul dreptunghic. Rezolvarea triunghiului dreptunghic.</a>
				</li>
				<li>
					<a href="/courses/course-v1:Tedix+Clasa7-Geometrie-5.1+Clasa7/">5.1 Alte lecții: Relații metrice în triunghiul dreptunghic: Ariile triunghiurilor și patrulaterelor.</a>
				</li>					
			</ul>
		</div>
    </section>
</main>