<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Cursuri clasa 8-a")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="course-view page-content-container ">
			<div class="page-header">
			<h1>
				<%block name="pageheader">${page_header or _("Lista cursuri pentru clasa a 8-a")}</%block>
			</h1>
		</div>
	<div class="page-content course-section">
			<div class="section-title">
				<h2>Algebra</h2>
			</div>
			<ul class="course-list">
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.1+Clasa8/">1.1 Numere reale: Mulțimi de numere. Forme de scriere a unui număr real.</a>
				</li>		
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.2+Clasa8/">1.2 Numere reale: Reprezentarea pe axă. Aproximări. Opusul unui număr real. Modulul unui număr real.</a>
				</li>				
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.3+Clasa8/">1.3 Numere reale: Intervale.</a>
				</li>		
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.4+Clasa8/">1.4 Numere reale: Operații cu numere reale (fără radicali).</a>
				</li>			
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.5+Clasa8/">1.5 Numere reale: Calcule cu radicali. Raționalizarea numitorului de forma a radical din b sau a +/- radical din b, unde a și b sunt numere naturale.</a>
				</li>	
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.6+Clasa8/">1.6 Numere reale: Calcule cu numere reale reprezentate prin litere.</a>
				</li>					
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.7+Clasa8/">1.7 Numere reale: Formule de calcul prescurtat.</a>
				</li>				
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.8+Clasa8/">1.8 Numere reale: Descompuneri în factori.</a>
				</li>			
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.9+Clasa8/">1.9 Numere reale: Rapoarte de numere reale reprezentate prin litere (amplificarea, simplificarea si aducerea la același numitor).</a>
				</li>				
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.10+Clasa8/">1.10 Numere reale: Adunarea și scăderea rapoartelor (fracțiilor) de numere reale reprezentate prin litere.</a>
				</li>	
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.11+Clasa8/">1.11 Numere reale: Înmulțirea, împarțirea și ridicarea la putere a rapoartelor (fracțiilor) de numere reale reprezentate prin litere.</a>
				</li>
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-1.12+Clasa8/">1.12 Numere reale: Ordinea efectuării operațiilor cu rapoarte și efectuarea parantezelor.</a>
				</li>				
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-2.1+Clasa8/">2.1 Funcții: Noțiunea de funcție.</a>
				</li>
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-2.2+Clasa8/">2.2 Funcții definite pe mulțimi finite exprimate cu ajutorul unor diagrame, tabele, formule; graficul unei funcții, reprezentarea geometrică a graficului.</a>
				</li>

								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-2.3+Clasa8/">2.3 Funcții: Funcții de tipul f(x)=ax+b. Reprezentarea geometrică a graficului.</a>
				</li>
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-2.4+Clasa8/">2.4 Funcții: Funcții de tipul f(x)=ax+b, definite pe interval.</a>
				</li>				
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-3.1+Clasa8/">3.1 Ecuații, inecuații și sisteme de ecuații: Ecuații de gradul întâi.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-3.2+Clasa8/">3.2 Ecuații, inecuații și sisteme de ecuații:Ecuații de gradul I cu două necunoscute.</a>
				</li>		
								<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-3.3+Clasa8/">3.3 Ecuații, inecuații și sisteme de ecuații: Sisteme de ecuații de gradul I cu două necunoscute.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-3.4+Clasa8/">3.4 Ecuații, inecuații și sisteme de ecuații: Ecuații de gradul al doilea cu o necunoscută.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-3.5+Clasa8/">3.5 Ecuații, inecuații și sisteme de ecuații: Rezolvarea ecuatiei de gradul al doilea cu o necunoscuta - cazul general.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-3.6+Clasa8/">3.6 Ecuații, inecuații și sisteme de ecuații: Inecuații de gradul I.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Algebra-3.7+Clasa8/">3.7 Ecuații, inecuații și sisteme de ecuații: Probleme care se rezolvă cu ajutorul ecuațiilor, inecuațiilor și a sistemelor de ecuații.</a>
				</li>
			</ul>
			<div class="section-title">
				<h2>Geometrie</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.1+Clasa8/">1.1 Relațiile între puncte, drepte și plan: Puncte, drepte, plane: convenții de desen și notație.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.2+Clasa8/">1.2 Relațiile între puncte, drepte și plan: Determinarea dreptei; determinarea planului.</a>
				</li>			
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.3+Clasa8/">1.3 Relațiile între puncte, drepte și plan: Piramida: descriere și reprezentare; tetraedrul.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.4+Clasa8/">1.4 Relațiile între puncte, drepte și plan: Prisma: descriere și reprezentare; paralelipipedul dreptunghic; cubul.</a>
				</li>					
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.5+Clasa8/">1.5 Relațiile între puncte, drepte și plan: Poziții relative a două drepte In spațiu; relația de paralelism în spațiu.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.6+Clasa8/">1.6 Relațiile între puncte, drepte și plan: Unghiuri cu laturile respectiv paralele (fără demonstrație); unghiul a două drepte în spațiu; drepte perpendiculare.</a>
				</li>			
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.7+Clasa8/">1.7 Relațiile între puncte, drepte și plan: Poziții relative ale unei drepte față de un plan; dreaptă perpendiculară pe un plan; distanța de la un punct la un plan(descriere și reprezentare); înălțimea piramidei(descriere și reprezentare).</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.8+Clasa8/">1.8 Relațiile între puncte, drepte și plan: Poziții relative a două plane; plane paralele, distanța dintre două plane paralele(descriere și reprezentare); înălțimea prismei(descriere și reprezentare); secțiuni paralele cu baza în corpurile geometrice studiate.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-1.9+Clasa8/">1.9 Relațiile între puncte, drepte și plan: Trunchi de piramidă: descriere și reprezentare.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-2.1+Clasa8/">2.1 Proiecții ortogonale pe un plan: Proiecții de puncte, de segmente de dreaptă și de drepte pe un plan.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-2.2+Clasa8/">2.2 Proiecții ortogonale pe un plan: Unghiul unei drepte cu un plan; lungimea proiecției unui segment.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-2.3+Clasa8/">2.3 Proiecții ortogonale pe un plan: Teorema celor trei perpendiculare; calculul distanței de la un punct la o dreaptă; calcului distanței de la un punct la un plan; calculul distanței dintre două plane paralele.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-2.4+Clasa8/">2.4 Proiecții ortogonale pe un plan: Unghi diedru; unghi plan corespunzător diedrului; unghiul a două plane; plane perpendiculare.</a>
				</li>		
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-2.5+Clasa8/">2.5 Proiecții ortogonale pe un plan: Calculul unor distanțe și măsuri de unghiuri pe fețele sau în interiorul corpurilor studiate.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-3.1+Clasa8/">3.1 Calcule de arii și volume: Paralelipiped dreptunghic, cubul: descriere, desfășurare, aria laterală, aria totală și volumul.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-3.2+Clasa8/">3.2 Calcule de arii și volume: Prisma dreaptă cu baza: triunghi echilateral, pătrat, dreptunghi, hexagon regulat: descriere, desfășurare, aria laterală, aria totală și volumul.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-3.3+Clasa8/">3.3 Calcule de arii și volume: Piramida triunghiulară regulată, tetraedrul regulat, piramida patrulateră regulată, piramida hexagonală regulată: descriere, desfășurare, aria laterală, aria totală și volumul.</a>
				</li>
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-3.4+Clasa8/">3.4 Calcule de arii și volume: Trunchiul de piramidă triunghiulară regulată, trunchiul de piramidă patrulateră regulată: descriere, desfășurare, aria laterală, aria totală și volumul.</a>
				</li>	
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-3.5+Clasa8/">3.5 Calcule de arii și volume: Cilindrul circular drept, conul circular drept, trunchiul de con circular drept: descriere, desfășurare, secțiuni paralele cu baza și secțiuni axiale; aria laterală, aria totală și volumul.</a>
				</li>				
				<li>
					<a href="http://www.tedix.ro/courses/course-v1:Tedix+Clasa8-Geometrie-3.6+Clasa8/">3.6 Calcule de arii și volume: Sfera: descriere, aria și volumul.</a>
				</li>		
			</ul>
		</div>
    </section>
</main>