<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Cursuri clasa 6-a")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="course-view page-content-container ">
			<div class="page-header">
			<h1>
				<%block name="pageheader">${page_header or _("Lista cursuri pentru clasa a 6-a")}</%block>
			</h1>
		</div>
	<div class="page-content course-section">
			<div class="section-title">
				<h2>Algebra</h2>
			</div>
			<ul class="course-list">
				<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-1.1+Clasa6/">1.1 Mulțimea numerelor naturale: Mulțimi: descriere, notații, reprezentări. Relația dintre un element și o mulțime.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-1.2+Clasa6/">1.2 Mulțimea numerelor naturale: Relații între mulțimi.</a>
				</li>			
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-1.3+Clasa6/">1.3 Mulțimea numerelor naturale: Mulțimi finite. Mulțimi infinite. Mulțimea numerelor naturale.</a>
				</li>				
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-1.4+Clasa6/">1.4 Mulțimea numerelor naturale: Operații cu mulțimi.</a>
				</li>	
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-1.5+Clasa6/">1.5 Mulțimea numerelor naturale: Descompunerea numerelor naturale în produs de puteri de numere prime.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-1.6+Clasa6/">1.6 Mulțimea numerelor naturale: Determinarea c.m.m.d.c. si a c.m.m.m.c. a două sau mai multe numere. Numere prime între ele.</a>
				</li>				
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-1.7+Clasa6/">1.7 Mulțimea numerelor naturale: Proprietăti de divizibilitate în mulțimea numerelor naturale.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-2.1+Clasa6/">2.1 Rapoarte și proporții: Rapoarte; procente; probleme în care intervin procente.</a>
				</li>			
				<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-2.2+Clasa6/">2.2 Rapoarte și proporții: Proporții; proprietatea fundamentală a proporțiilor, aflarea unui termen necunoscut dintr-o proporție.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-2.3+Clasa6/">2.3 Rapoarte și proporții: Proporții derivate.</a>
				</li>				
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-2.4+Clasa6/">2.4 Rapoarte și proporții: Șir de rapoarte egale.</a>
				</li>				
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-2.5+Clasa6/">2.5 Rapoarte și proporții: Mărimi direct proporționale; regula de trei simplă.</a>
				</li>				
				<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-2.6+Clasa6/">2.6 Rapoarte și proporții: Mărimi invers proporționale; regula de trei simplă.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-2.7+Clasa6/">2.7 Rapoarte și proporții: Elemente de organizare a datelor; reprezentarea datelor prin grafice. Probabilități.</a>
				</li>	
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.1+Clasa6/">3.1 Mulțimea numerelor întregi: Mulțimea numerelor întregi Z; Opusul unui număr întreg, reprezentarea pe axa numerelor, valoarea absolută (modulul); compararea și ordonarea numerelor întregi.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.2+Clasa6/">3.2 Mulțimea numerelor întregi: Adunarea numerelor întregi. Proprietăți. Sumă algebrică.</a>
				</li>					
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.3+Clasa6/">3.3 Mulțimea numerelor întregi: Scăderea numerelor întregi.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.4+Clasa6/">3.4 Mulțimea numerelor întregi: Înmulțirea numerelor întregi; proprietăți; mulțimea multiplilor unui număr întreg.</a>
				</li>				
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.5+Clasa6/">3.5 Mulțimea numerelor întregi: Împarțirea numerelor întregi când deîmpărțitul este multiplu al împărțitorului; mulțimea divizorilor unui număr întreg.</a>
				</li>				
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.6+Clasa6/">3.6 Mulțimea numerelor întregi: Puterea unui număr întreg cu exponent natural; reguli de calcul cu puteri.</a>
				</li>		
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.7+Clasa6/">3.7 Mulțimea numerelor întregi: Ordinea efectuării operațiilor și folosirea parantezelor.</a>
				</li>
												<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.8+Clasa6/">3.8 Mulțimea numerelor întregi: Ecuații în mulțimea numerelor întregi.</a>
				</li>
												<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.9+Clasa6/">3.9 Mulțimea numerelor întregi: Inecuații în mulțimea numerelor întregi.</a>
				</li>
												<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-3.10+Clasa6/">3.10 Mulțimea numerelor întregi: Probleme care se rezolvă cu ajutorul ecuațiilor și inecuațiilor.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-4.1+Clasa6/">4.1 Mulţimea numerelor raţionale: Mulțimea numerelor raționale; opusul; reprezentarea pe axă; modulul unui număr rațional; compararea numerelor raționale.</a>
				</li>				
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-4.2+Clasa6/">4.2 Mulţimea numerelor raţionale: Adunarea numerelor raționale; proprietați; scaderea numerelor raționale.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-4.3+Clasa6/">4.3 Mulţimea numerelor raţionale: Înmulțirea numerelor raționale; proprietăți. Împarțirea numerelor raționale.</a>
				</li>
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-4.4+Clasa6/">4.4 Mulţimea numerelor raţionale: Puterea cu exponent număr întreg a unui numar rațional nenul. Reguli de calcul cu puteri.</a>
				</li>		
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-4.5+Clasa6/">4.5 Mulţimea numerelor raţionale: Ordinea efectuării operațiilor cu numere raționale și folosirea parantezelor.</a>
				</li>	
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-4.6+Clasa6/">4.6 Mulţimea numerelor raţionale: Ecuații în mulțimea numerelor raționale.</a>
				</li>		
								<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Algebra-4.7+Clasa6/">4.7 Mulţimea numerelor raţionale: Probleme care se pot rezolva cu ajutorul ecuațiilor.</a>
				</li>				
						
			</ul>
			<div class="section-title">
				<h2>Geometrie</h2>
			</div>
			<ul class="course-list">
					<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-1.1+Clasa6/">1.1 Recapitulare și completări.</a>
				</li>
					<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-2.1+Clasa6/">2.1 Unghiuri: Unghiuri complementare; unghiuri suplementare; unghiuri adiacente.</a>
				</li>
					<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-2.2+Clasa6/">2.2 Unghiuri: Bisectoarea unui unghi; construcția bisectoarei unui unghi.</a>
				</li>
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-2.3+Clasa6/">2.3 Unghiuri: Unghiuri opuse la vârf. Unghiuri formate în jurul unui punct.</a>
				</li>	
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-3.1+Clasa6/">3.1 Perpendicularitate: Drepte perpendiculare în plan; construcția perpendicularei dintr-un punct pe o dreaptă; mediatoarea unui segment. Simetrie față de o dreaptă.</a>
				</li>
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-4.1+Clasa6/">4.1 Paralelism: Drepte paralele; axioma paralelelor.</a>
				</li>	
					<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-4.2+Clasa6/">4.2 Paralelism: Unghiuri formate de două drepte cu o secantă. Criterii de paralelism.</a>
				</li>			
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-5.1+Clasa6/">5.1 Cercul: Elemente în cerc.</a>
				</li>
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-5.2+Clasa6/">5.2 Cercul: Pozițiile unei drepte față de un cerc. Pozițiile relative a două cercuri.</a>
				</li>
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.1+Clasa6/">6.1 Triunghiul: Definiție. Elemente. Clasificare. Perimetru.</a>
				</li>
										<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.2+Clasa6/">6.2 Triunghiul: Suma măsurilor unghiurilor unui triunghi. Unghi exterior triunghiului.</a>
				</li>
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.3+Clasa6/">6.3 Triunghiul: Construcția triunghiurilor</a>
				</li>				
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.4+Clasa6/">6.4 Triunghiul: Linii importante în triunghi.</a>
				</li>				
						<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.5+Clasa6/">6.5 Triunghiul: Congruența triunghiurilor oarecare.</a>
				</li>		
										<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.6+Clasa6/">6.6 Triunghiul: Criteriile de congruență ale triunghiurilor dreptunghice.</a>
				</li>	
										<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.7+Clasa6/">6.7 Triunghiul: Metoda triunghiurilor congruente.</a>
				</li>	
										<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.8+Clasa6/">6.8 Triunghiul: Proprietățile triunghiului isoscel.</a>
				</li>	
										<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.9+Clasa6/">6.9 Triunghiul: Proprietățile triunghiului echilateral.</a>
				</li>	
				<li>
					<a href="/courses/course-v1:Tedix+Clasa6-Geometrie-6.10+Clasa6/">6.10 Triunghiul: Proprietăți ale triunghiului dreptunghic.</a>
				</li>
			</ul>
		</div>
    </section>
</main>