<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
<div class="container">
  <!-- menu.side-menu -->
  <div class="row">
  <div class="cont-nav col-sm-9">
    <ul>
      
    </ul>
  </div>
  <div class="col-sm-3 subscribe">
    
  </div>
</div>

  <h1><strong>Termeni si conditii. GDPR. www.tedix.ro</strong></h1>

<p><strong>Dispozitii generale</strong></p>

<p>Societatea&nbsp;<strong>SC ABC Data SRL,</strong>&nbsp;cu sediul in&nbsp;C. Manastur 70/30, Cluj Napoca&nbsp;inregistrata la Registrul Comertului cu numarul J12/4360/2004, este responsabila cu administrarea site-ului&nbsp;<strong>www.tedix.ro</strong></p>

<p>Folosirea acestui site, prin simpla vizitare, navigare sau achizitionare de produse, constituie acceptarea implicita a termenilor si conditiilor ce urmeaza a fi detaliati in aceasta pagina.&nbsp;<br />
Administratorul site-ului&nbsp;<strong>www.tedix.ro</strong>&nbsp;lucreaza in permanenta la pastrarea acuratetei informatiilor disponibile pe site, principalele inadvertente care pot aparea fiind determinate de anumite modificari de pret sau de specificatii modificate fara preaviz de catre producatorii produselor comercializate in cadrul site-ului<br />
Administratorul site-ului&nbsp;<strong>www.tedix.ro</strong>&nbsp;poate modifica in orice moment continutul acestor termeni si conditii, fara nicio obligatie de a notifica in prealabil utilizatorii acestui site.<br />
Oricare dintre clauzele specificate in cadrul acestei pagini ar fi gasite nevalide sau nule, indiferent de cauza, prezenta acestora nu va afecta in niciun fel validitatea celorlalte clauze inscrise in termeni si conditii.<br />
Persoanele care utilizeaza site-ul vor fi denumite in cadrul acestei pagini &bdquo;Utilizatori&rdquo; sau &bdquo;Clienti&rdquo; si beneficiaza de acces permanent la termenii si conditiile de utilizare a site-ului si a serviciilor aferente acestuia, avand dreptul de a le consulta oricand.<br />
Pentru a putea folosi site-ul in cele mai bune conditii, este recomandata citirea cu atentie si intelegerea acestor termeni si conditii.</p>

<p><strong>Drepturi de autor</strong></p>

<p>Societatea&nbsp;<strong>SC ABC Data SRL</strong>&nbsp;este proprietarul intregului continut prezentat pe site-ul&nbsp;<strong>www.tedix.ro</strong>&nbsp;si beneficiaza de toate legile in vigoare privind drepturile de autor si protectia acestora.<br />
Orice copiere a continutului site-ului, a datelor sau a fotografiilor, fara acordul proprietarului site-ului este complet interzisa. Folosirea acestora este legala exclusiv dupa obtinerea unui acord scris din partea unui reprezentant legal al proprietarului.<br />
Nerespectarea acestor termeni si utilizarea, fara acordul scris al<strong>&nbsp;SC ABC Data SRL,</strong>&nbsp;a oricaruia dintre elementele anterior enumerate, se va pedepsi conform legilor in vigoare.<br />
<strong>SC ABC Data SRL</strong>&nbsp;respecta, la randul sau, dreptul la proprietate intelectuala de care dispune orice tert ce utilizeaza site-ul&nbsp;<strong>www.tedix.ro.</strong>&nbsp;Orice utilizator care considera ca site-ul incalca, prin oricare dintre informatiile publicate, orice fel de drept stipulat in legea privind protectia drepturilor de autor, este rugat sa faca o sesizare directa, contactandu-ne pe adresa de email <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a1e0f0e03122a1e0f0e0312441805">[email&#160;protected]</a></p>

<p><strong>Obligatii de inregistrare ale utilizatorilor</strong></p>

<p>Prin folosirea serviciilor site-ului utilizatorii isi exprima acordul implicit de a furniza exclusiv informatii corecte, complete si actuale privind profilul acestora.&nbsp;<strong>SC ABC Data SRL</strong>&nbsp;isi rezerva dreptul de a bloca instant accesul acelor utilizatori despre care considera ca nu isi respecta obligatiile de inregistrare pe site-ul&nbsp;<strong>www.tedix.ro</strong>. Blocarea accesului la serviciile site-ului se va face fara vreo notificare prealabila, pe o perioada determinata sau nedeterminata.</p>

<p>&nbsp;</p>

<p><strong>Prelucrarea datelor cu caracter personal pe site-ul www.tedix.ro.&nbsp;GDPR SC ABC Data SRL.</strong></p>

<p><strong>Politica de confidentialitate, protejarea si siguranta datelor cu caracter personal.</strong></p>

<p>Acest site web este detinut si gestionat de catre SC ABC Data SRL SRL, identificata cu CUI: RO 32439129, J12/3283/6.11.2013 pentru care confidentialitatea datelor reprezinta o componenta esentiala. Politica si practicile noastre de protejare a datelor se focuseaza pe procesarea, schimbul si stocarea corespunzatoare si legala a informatiilor cu caracter personal si totodata pe asigurarea confidentialitatii, integritatii si disponibilitatii.</p>

<p>Aceasta declaratie de confidentialitate se aplica entitatii operationale principale a SC ABC DATA SRL SRL si filialelor sale.</p>

<p>SC ABC DATA SRL SRL proceseaza si stocheaza date cu caracter personal in UE si este capabila sa demonstreze la orice moment conformitatea cu legile Uniunii Europene c&acirc;t si cu principiile stabilite in acest document.</p>

<p>Aceasta declaratie de confidentialitate reprezinta politica de confidentialitate completa aplicabila activitatilor online ale SC ABC DATA SRL SRL. Aceasta declaratie explica tipurile de informatii pe care le colectam de la clienti si modul in care utilizam aceste informatii.</p>

<p>Website-ul nostru este in conformitate cu Regulamentul General de Protectie a Datelor (&ldquo;GDPR&rdquo;), (Regulament (EU) 2016/679), care este un act legislativ obligatoriu. GDPR creeaza noi drepturi pentru indivizi si consolideaza unele drepturi existente sub Directiva 95/46/EC.</p>

<p><strong>Principii de protejare a datelor cu caracter personal</strong></p>

<p>Politica de protejare a datelor in site-ul www.tedix.ro se bazeaza pe urmatoarele principii de protectie a datelor:</p>

<ul>
	<li>Procesarea datelor personale se va face intr-o maniera legala, corecta si transparenta;</li>
	<li>Colectarea datelor personale se va face numai in scopuri specificate, explicite si legitime si datele nu vor fi procesate mai departe intr-o maniera incompatibila cu acele scopuri;</li>
	<li>Colectarea datelor personale va fi adecvata, relevanta si limitata la informatiile necesare scopului procesarii;</li>
	<li>Datele personale vor fi acurate si, acolo unde este necesar, actualizate;</li>
	<li>Se vor lua toate masurile necesare pentru a se asigura ca datele incorecte sunt sterse sau corectate fara int&acirc;rziere;</li>
	<li>Datele personale vor fi pastrate intr-o forma ce permite identificarea persoanei vizate si pentru o perioada nu mai lunga dec&acirc;t cea in care datele personale sunt procesate;</li>
	<li>Toate datele personale vor fi pastrate confidential si stocate intr-o maniera ce asigura securitatea necesara;</li>
	<li>Datele personale nu vor fi distribuite persoanelor terte dec&acirc;t in cazul in care este necesar in scopul oferirii de servicii conform acordurilor;</li>
	<li>Persoanele vizate au dreptul de a solicita accesul la datele personale, rectificarea si stergerea acestora, impotrivirea sau restrictionarea de la procesarea datelor at&acirc;t c&acirc;t si de la dreptul portabilitatii datelor.</li>
</ul>

<p><strong>Datele personale</strong></p>

<p>Date personale inseamna orice informatie care poate fi legata de o persoana fizica identificata sau identificabila (persoana subiect). Datele personale includ toate tipurile de informatii directe sau indirecte (si anume utilizate in legatura cu alte date) ce se refera la persoana subiect, cum ar fi nume, data de nastere, adrese, adrese de e-mail, numere de telefon, etc.</p>

<p><strong>Colectarea datelor personale</strong></p>

<p>Datele pe care le colectam includ urmatoarele:</p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nume, prenume, CNP( in cazul persoanelor fizice), denumire societate,date de identidicare societate si adresa sediului social( in cazul persoanelor juridice), adresa de livrare, telefon de contact, adresa e-mail</p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; colectam date despre dispozitivul dvs. si despre modul in care dvs. si dispozitivul interactionati cu produsele noastre.</p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; colectam date despre caracteristicile pe care le utilizati si paginile web pe care le vizitati in site-ul nostru.</p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; colectam date despre adresa dumneavoastra IP, setarile regionale si setarile de limba.</p>

<p><strong>Scopul colectarii datelor personale:</strong></p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; informarea clientilor/cumparatorilor privind situatia Contului lor inclusiv validarea, expedierea și facturarea comenzilor, rezolvarea anulărilor sau a problemelor de orice natură referitoare la o comandă, la bunurile și/sau serviciile achizitionate;</p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; trimiterea de newslettere și/sau alerte periodice, prin folosirea poștei electronice (e-mail, SMS),&nbsp; numai in cazul in care persoana vizata si-a exprimat in mod explicit acordul;</p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; cercetare de piață, urmărire și monitorizare a v&acirc;nzărilor și comportamentului clientului/cumpărătorului.</p>

<p><strong>Utilizarea datelor personale</strong></p>

<p>Vom utiliza datele personale numai in contextul scopurilor mentionate in articolul anterior. De asemenea, SC ABC DATA SRL SRL poate furniza datele cu caracter personal ale cumpărătorului altor companii cu care se află &icirc;n relații de parteneriat, dar numai &icirc;n scopurile menționate mai sus.</p>

<p>Informațiile cumpărătorului cu caracter personal pot fi furnizate și către Parchetul General, Poliție, instanțele judecătorești și altor organe abilitate ale statului, &icirc;n baza și &icirc;n limitele prevederilor legale și ca urmare a unor cereri expres formulate.</p>

<p>&nbsp;</p>

<p><strong>Informatii privind siguranta datelor. Securitatea procesarii.</strong></p>

<p>Vom procesa datele in mod sigur, vom aplica si mentine masuri tehnice adecvate pentru a proteja datele personale impotriva distrugerii sau pierderii accidentale sau ilegale, alterare, divulgare sau acces neautorizat, in mod special atunci c&acirc;nd procesarea presupune transmiterea datelor printr-o retea at&acirc;t c&acirc;t si impotriva oricarei alte forme de procesare ilegala. Datele clientilor sunt salvate in baze de date aflate pe servere din Uniunea Europeana.</p>

<p>In cazul unei brese de securitate, care poate fi reprezentata de un accident, o pierdere de date sau un acces neautorizat, SC ABC DATA SRL SRL&nbsp; va informa autoritatile reprezentate in Romania de catre A.N.S.P.D.C.P. (Autoritatea Nationala de Supraveghere a Prelucrarii Datelor cu Caracter Personal) in maxim 72 de ore de la descoperirea bresei de securitate.</p>

<p><strong>Accesul si rectificarea sau stergerea datelor personale</strong></p>

<p>Clientii au dreptul de a solicita in orice moment accesul la, rectificarea, stergerea sau restrictionarea procesarii datelor colectate de catre noi. Pentru a ne ajuta sa pastram datele personale actualizate, recomandam utilizatorilor sa ne informeze despre orice schimbare sau discrepanta. Pentru a vizualiza un extras sau modifica datele personale, pentru a obtine informatii despre perioada de timp pentru care SC ABC DATA SRL SRL intentioneaza sa pastreze datele personale sau pentru alte intrebari legate de datele personale, inclusiv stergerea definitiva a acestora din evidentele noastre, va rugam sa ne contacta pe email la <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fe8a9b9a9786be8a9b9a9786d08c91">[email&#160;protected]</a> sau la telefon 0729308668.</p>

<p><strong>E-mailuri de marketing</strong></p>

<p>SC ABC DATA SRL SRL are dreptul sa trimita clientilor e-mailuri de marketing cu consimtam&acirc;ntul acestora. Aceasta forma specifica de consimtam&acirc;nt trebuie data in mod liber, informata specific si precis. Aceste cereri sunt indeplinite atunci c&acirc;nd clientii au optat sa primeasca e-mailuri de marketing (au aprobat activ).</p>

<p>Clientii vor avea mereu dreptul de a obiecta, la cerere si fara costuri, la procesarea datelor cu caracter personal in scopuri de marketing direct fara a trebui sa furnizeze justificari concrete. Clientii pot face acest lucru d&acirc;nd click pe linkul &bdquo;Dezabonare&rdquo; care apare in mesajele de e-mail pe care vi le trimitem sau ne pot trimite un mesaj la&nbsp;<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="463223222f3e063223222f3e683429">[email&#160;protected]</a> O data ce clientul a obiectat, datele personale ale acelui client nu vor mai fi procesate pentru marketing direct.</p>

<p>E-mailurile de marketing contin informatii pe care le consideram interesante pentru client, at&acirc;t c&acirc;t si stiri de ultima ora legate de produsele si serviciile noastre.</p>

<p><strong>Pl&acirc;ngeri</strong></p>

<p>Clientii au dreptul sa adreseze o pl&acirc;ngere legata de procesarea datelor lor personale. Toate intrebarile si pl&acirc;ngerile vor fi prelucrate de catre noi in timp util si in concordanta cu procedurile interne.</p>

<p>In cazul improbabil in care clientii au suferit daune din cauza incalcarii drepturilor conform politicii de protectie a datelor personale si SC ABC DATA SRL SRL nu a tratat pl&acirc;ngerea in mod corespunzator, clientii au posibilitatea de a trimite o pl&acirc;ngere autoritatii superioare.</p>

<p>Pl&acirc;ngerile pot fi trimise pe email la adresa <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="651100010c1d251100010c1d4b170a4b">[email&#160;protected]</a></p>

<p><strong>Modificari ale acestei politici</strong></p>

<p>Aceasta politica poate fi actualizata din c&acirc;nd in c&acirc;nd, de exemplu in urma modificarii legislatiei relevante sau schimbari ale structurii corporative in cadrul SC ABC DATA SRL SRL In cazul in care se fac modificari ale materialului clientii vor fi notificati pe e-mail sau prin intermediul website-ului inainte ca schimbarile sa intre in vigoare. Incurajam clientii sa verifice aceasta pagina periodic pentru a fi informati despre ultimele noutati in ceea ce priveste practicile noastre de confidentialitate.</p>

<p>In vigoare de la data de: 1 Iunie 2018</p>

<p><strong>Politica de livrare si activare</strong></p>

<p><strong>SC ABC Data SRL</strong>&nbsp;livreaza / activeaza produsele comercializate oriunde in Romania, prin intermediul site-ului www.tedix.ro. O data plasata comanda si contul de utilizator activat, utilizatorul va primi un email informativ in care i se vor comunica detaliile necesare.</p>

<p>Comenzile achitate prin banca sunt intotdeauna preluate pentru procesare din momentul in care se confirma plata contravalorii facturii proforme in contul&nbsp;<strong>SC ABC Data SRL.</strong></p>

<p><strong>Politica de retur / anulare</strong></p>

<p>Conform dreptului de unilateral de care beneficiaza consumatorul, Art. 4, Al. C, prevazut in OG 34/2014, &bdquo;Consumatorul are dreptul sa notifice in scris comerciantului ca renunta la cumparare, fara penalitati si fara invocarea unui motiv, in termen de 14 zile calendaristice de la primirea produsului sau, in cazul prestarilor de servicii, de la incheierea contractului&rdquo;.<br />
Invocarea acestui drept necesita completarea si expedierea unui formular / cerere de retragere.</p>

<p><strong><em>Pentru comenzile platite cu cardul suma va fi returnata pe acelasi card utilizat la tranzactionare, in decurs de maxim 30 de zile de la acceptarea returului.</em></strong></p>

<p><strong>Termeni de garantie si acces.</strong></p>

<p>Accesul la servicii este garantat in masura disponibilitatii tehnice. Furnizorul depune toate eforturile legate de stabilitatea si accesibilitatea platformei tehnice.</p>

<p><strong>Conditii de plata</strong></p>

<p>Plata comenzilor se poate efectua prin modalitatile agreate de Funizor respectiv:</p>

<p>Plata prin SMS, carte de credit online sau prin ordin de plata. In cazul platii prin ordin de plata clientii au responsabilitatea de a trimite dovada de plata catre&nbsp;<strong>SC ABC Data SRL</strong>, utilizand adresa de email <a href="/cdn-cgi/l/email-protection#86f0e7e8fce7f4efc6f2e3e2effea8f4e9"><span class="__cf_email__" data-cfemail="1365727d6972617a536776777a6b3d617c">[email&#160;protected]</span></a>.</p>

<p>&nbsp;</p>

<p><img alt="" src="http://tedix.kloudstores.com/res/payment.jpg" style="float:left; height:101px; width:571px" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Date in format electronic</strong></p>

<p><strong>SC ABC Data SRL</strong>&nbsp;nu isi asuma nici o responsabilitate si nu poate sa fie tras la raspundere sub nici o forma pentru o eventuala pierdere, deteriorare sau alterare de orice forma a datelor inscrise in forma electronica.</p>

<p><strong>Frauda</strong></p>

<p>Orice tentativa de accesare a datelor personale ale utilizatorilor site-ului&nbsp;<strong>www.tedix.ro,</strong>&nbsp;orice incercare de a modifica informatiile disponibile in cadrul site-ului sau orice actiune menita sa afecteze performantele serverului prin care isi desfasoara activitatea site-ul se considera tentativa de fraudare si&nbsp;<strong>SC ABC Data SRL</strong>&nbsp;va declansa in cel mai scurt timp o actiune de cercetare penala indreptata impotriva celui sau celor care au initiat o astfel de actiune.</p>

<p><strong>Litigii</strong></p>

<p><strong>SC ABC Data SRL</strong>&nbsp;urmareste sa rezolve pe cale amiabila orice litigiu ar aparea intre acesta si utilizatori sau clienti. In cazul in care stingerea amiabila a conflictului nu este posibila, solutionarea acestuia va trece in competenta instantelor de judecata din Cluj Napoca, Romania.</p>

<p><strong>Preturile afisate includ TVA</strong></p>

<p>Cu exceptia produselor inscrise intr-o anumita promotie, toate produsele de pe site-ul<strong>&nbsp;www.tedix.ro</strong>&nbsp;includ in pret TVA.<br />
<br />
<strong>SC ABC Data SRL</strong>&nbsp;isi rezerva dreptul de a modifica preturile unor produse sau promotii existente in cadrul site-ului&nbsp;<strong>www.tedix.ro</strong>&nbsp;fara vreo notificare prealabila.</p>

</div>
    </section>
</main>
