<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Page Not Found")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
    <h1>${_("Page not found")}</h1>
    <p>${Text(_('The page that you were looking for was not found. Go back to the {link_start}homepage{link_end} or let '
    'us know about any pages that you cannot find by filling out the ALUx Support form on {support_site}.')).format(
        link_start=HTML('<a href="/">'),
        link_end=HTML('</a>'),
        support_site=HTML('<a href="https://support.alueducation.com/">support.alueducation.com</a>')
      )}</p>
    </section>
</main>
