<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About")}</h1>
        <p>${_("Online-Learning, is a division of iSolve Business Solutions, a Microsoft Learning Partner.")}</p>
        <h1>${_("Cloud Learning Platform")}</h1>
        <p>${_("Online-Learning provides a complete end-to-end connected Cloud Learning Portal with latest curated collections of training assets, designed to build your teams knowledge of Microsoft products, solution areas, and competencies.")}</p>
        <p>${_("With business strategies linked inseparably to technology, leading organisations are fundamentally rethinking how they envision, deliver, and evolve technology solutions. They are transforming IT departments into engines for driving business growth, with responsibilities that span back-office systems, operations, and even product and platform offerings. From the bottom up, they are modernizing infrastructure and the architecture stack. From the top down, they are organizing, operating, and delivering technology capabilities in new ways. In tandem, these approaches can deliver more than efficiency-they offer the tools, velocity, and empowerment that will define the technology organisation of the future.")}</p>
        <h1>${_("Transform Your Workforce")}</h1>
        <p>${_("Focusing on technologies such as data sciences, machine learning and artificial intelligence, and the Azure platform, our eLearning courses helps you transform your workforce and immediately enable innovation across your organisation. We provide the latest learning paths to take your team's expertise to the next level.")}</p>
        <p>${_("Whether you're an established professional or new to the field, Online-Learning will give you the expertise you need in a specific product or technology. You can be confident that what you'll learn will be accurate, complete, and up to date. Learn on your own schedule, at your own pace, and in your own place")}</p>
    </section>
</main>
