<%! from django.utils.translation import ugettext as _ %>
    <%inherit file="../main.html" />
        
        <%block name="pagetitle">О проекте</%block>
        <style>
            .container.about p,
            .container.about div {
                margin: 0 0 7px;
                color: rgb(60,60,60);
                font-size: 16px;
                line-height: 1.3 !important;
            }
            .container.about {
                color: rgb(60,60,60);
                font-size: 16px;
                line-height: 1.3 !important;
            }
        </style>
        <section class="container about">
        <h1>О проекте</h1>
        Дорогие друзья!
        <br><br>
        В Открытом университете Егора Гайдара произошло много существенных изменений, из-за которых нам пришлось ненадолго отложить запуск курсов, но теперь большая часть трудностей решена и мы наконец-то вновь открываемся для наших слушателей.
        <br><br>
        С 2021 года мы решили перейти на новую платформу – Stepik, наша страница там: <a href="https://stepik.org/org/gaidaruniversity" target="_blank">https://stepik.org/org/gaidaruniversity</a>
        <br><br>
        Для нас она будет гораздо проще в обслуживании, а для вас станет более удобным способом проходить наши курсы. Тут есть удобное мобильное приложение, возможность скачивать лекции и слушать их оффлайн. В остальном освоение курсов не должно сильно отличаться от того, что было раньше.
        <br><br>
        Второе главное (пусть и не самое приятное) изменение, это введение платных курсов. К сожалению, непростая финансовая ситуация в Фонде заставила нас пойти на этот шаг. Все вырученные средства пойдут на оплату работы ассистентов, которые сопровождают каждый наш курс повышения квалификации, и на запись новых курсов и программ.
        <br><br>
        Следите за анонсами курсов и спасибо вам за ваш интерес к Открытому университету Егора Гайдара!
        <br><br>
        <h4>Кто может стать нашим слушателем</h4>
        <br>
        Специалисты и преподаватели различных учебных заведений, желающие быть в курсе новых подходов в изучении экономических и общественных дисциплин и повышать собственную квалификацию. Также слушателем онлайн-курсов Открытого университета Егора Гайдара может стать любой желающий, имеющий необходимые базовые знания.
        <br><br>
        <h4>Стоимость обучения</h4>
        <br>
        С 2021 года мы вводим оплату на прохождение наших курсов, которая составит:
        <br><br>
        <b>-4000 рублей</b> для любого слушателя, интересующегося социально-экономическими науками,
        <br><br>
        <b>-2000 рублей</b> для студентов, учителей, преподавателей, сотрудников общеобразовательных школ, средних специальных учебных заведений, вузов, библиотек, культурных, научных, просветительских учреждений и НКО.
        <br><br>
        Для подтверждения льготного статуса мы просим вас прислать на наш электронный адрес <a href="mailto:info@gaidaruniversity.ru">info@gaidaruniversity.ru</a> документы, подтверждающие место работы или учебы (это может быть фото/скан студенческого билета, удостоверения преподавателя или справка с места работы). И в течение трех рабочих дней мы вышлем вам персональную ссылку для льготного доступа к курсу.
        <br><br>
        Если по каким-либо причинам любая оплата курса для вас невозможна, просим вас прислать на наш адрес короткое письмо с описанием вашей ситуации в свободной форме, по объему не превышающее 250 слов, и мы обязательно рассмотрим вашу просьбу и предоставим бесплатный доступ к выбранному вами курсу. Заявка на бесплатный доступ к каждому новому курсу будет рассматриваться как новая заявка.
        <br><br>
        <h4>Как устроены наши курсы</h4>
        <br>
        Все учебные онлайн-курсы Открытого университета Егора Гайдара разработаны в сотрудничестве с ведущими вузами страны и подготовлены таким образом, чтобы слушатели могли не только выбрать курс, соответствующий их уровню подготовки, но и постепенно повышать свой уровень квалификации, последовательно проходя один курс за другим. В описании каждого учебного курса указан необходимый для его освоения базовый уровень подготовки.
        <br><br>
        <h4>Как проходит процесс обучения</h4>
        <br>
        Процесс обучения по каждому курсу рассчитан на 10-17 недель и включает в себя видео-лекции, презентации, еженедельное тестирование и домашние задания.
        <br><br>
        <h4>Что получают слушатели по итогам обучения</h4>
        <br>
        По итогам успешного освоения каждого курса слушатель Открытого университета Егора Гайдара может получить:
        <br><br>
        <b>1. Электронный сертификат STEPIK и Открытого университета Егора Гайдара об успешном окончании курса*</b>
        <br><br>
        <b>2. Удостоверение о повышении квалификации установленного образца</b> выдаваемое Благотворительным фондом Егора Гайдара на основании образовательной лицензии № 037202, выданной 02.03.2016 Департаментом образования города Москвы: <a href="http://gaidarcharity.ru/edu" target="_blank">http://gaidarcharity.ru/edu</a> при условии успешного завершения образовательной программы.
        <br><br>
        Для получения удостоверения о повышении квалификации необходимо заполнить анкету и прислать пакет документов. Подробная информация о пакете документов для зачисления на программу повышения квалификация публикуется в каждом курсе отдельно.
        <div class="example-holder">
            <ul>
                <li class="example-item example-item-id">
                    <img src="/static/images/id_small.jpg" alt="id">
                    <div class="example-popup hidden"><img class='popup-img' src="/static/images/id.jpg" alt="id"></div>
                </li>
            </ul>
        </div>
        </section>
<style>
    .example-holder ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .example-holder ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 40px;
    }
    .example-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.2);
        cursor: pointer;
    }
    .popup-img {
        max-width: 80%;
        max-height: 80%;
    }
    .popup-anchor {
        cursor: pointer;
    }
    .popup-anchor:hover {
        text-decoration: underline;
    }
</style>
<script>
    $('.example-item').on('click',function (e) {
        let target = $(e.target)
        target.next('.example-popup').removeClass('hidden');
        if (target.hasClass('example-popup') || target.hasClass('popup-img')) {
            $('.example-popup').addClass('hidden');
        }
    });
    $('.popup-anchor').on('click',function (e) {
        let data = $(e.target).data().attr;
        console.log(data);
        if (data === 'cert') {
            $('.example-item-cert .example-popup').removeClass('hidden');
        } else if (data === 'id') {
            $('.example-item-id .example-popup').removeClass('hidden');
        }
    })
</script>
