<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Blog")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Online-Learning, Upskilling Employees and Empowering Organisations")}</h1>
        <p>${_("Invest in your Employees and Empower your Organisation with the World's Easiest-To-Use Cloud Based Learning Management System")}</p>
        <p>${_("THE INTERNET has opened a world of possibility where business is concerned, and e-commerce is the key to any successful business enterprise. The rise of online business has created many new and exciting industries, not least of which is e-learning. With a laptop, tablet, cell phone and Wi-Fi connection, it's possible to learn pretty much any skill you want anywhere, anytime.")}</p>
        <p>${_("Due to the rapid advancement in technological interventions our world is constantly changing and evolving, and so too is the way we learn. As a training provider we need to keep our finger on the pulse with changes in the digital world finding new & creative approaches to learning. With Online learning being the \"IN thing\", iSolve Learning Solutions now offers quality Online-Learning Training Courses at your fingertips.")}</p>
        <p>${_("Online-Learning Solutions provide 1000+ high-value, user friendly e-Learning courses hosted in the worlds-easiest-to-use cloud-based Learning Management System (LMS), to enhance the growth of your organisation at an affordable annual subscription. In addition, you can now also establish your own internal corporate university with our virtual LMS software. In fact, it is beyond an LMS. It's an LCMS (Learning Content Management System) with the technology that converts your Word or PowerPoint files into interactive, SCORM-compliant eLearning courses in seconds!")}</p>
        <p>${_("Our LMS is an invaluable tool to help educators automate all tracking and recording activities and maintain learner records from score sheets, evaluation reports to certificates and much more.")}</p>
        <p>${_("Managers can easily view and manage their team's required learning course and intervene where required. The learners enjoy a clean and intuitive interface with easy access to everything they need to learn and develop their skills.")}</p>
        <p>${_("Administrators can conveniently:")}</p>
        <ul>
            <li>${_("Assigner learner courses")}</li>
            <li>${_("Track learner activity and progress")}</li>
            <li>${_("Provide Certificated on completion")}</li>
        </ul>
        <p>${_("e-Learning is the ideal delivery method for skills training. Companies can develop talent and keep skills current with expert, on-demand e-Learning. Learners can progress through the course at their own pace and at a time that suits the company. You can customise courses to make them relevant to your organisation.")}</p>
        <p>${_("Make any changes you'd like to our courses and use them in combination with your own courses. This can include adding your branding, policies, procedures, a message from the CEO, or many other customisation options. All Online-Learning Solutions courses qualify for Skills Development, Supplier Development and Socio-Economic Development for your BBBEE Scorecard.")}</p>
        <p>${_("Our e-learning catalogue grows every month as we create new content to meet market requirements. Topics range between People Development Courses and Productivity Courses, as well as Microsoft Technical Courses.")}</p>
        <p>${_("People Development Courses provides a wide range of topics such as a strong foundation of communication, planning, leadership, teamwork, attention to detail, and critical thinking skills which are essential skills to succeed in the workplace. Together, these skills help build relationships and improve productivity with internal and external customers.")}</p>
        <p>${_("Productivity Courses requires employees to stay productive in the modern office using several technology tools. Employees are expected to get their work done timeously and effectively, and this focus on efficiency is driving employers to ensure employees have specific skills revolving around popular business platforms. Our e-learning courses cover Microsoft Office, Microsoft Productivity and Google applications at all levels and releases.")}</p>
        <p>${_("Microsoft Technical Courses blend video, text and knowledge checks to help your team build Microsoft technology skills, to your organisations schedule, at your team's own pace, and in your own place. No need to spend time and money travelling to a classroom location or adhering to classroom hours - with a computer and an internet connection, your Microsoft Technical e-Learning Courses come to you, anytime, anyplace.")}</p>
        <h1>${_("ONLINE-LEARNING SOLUTIONS SERVICES:")}</h1>
        <p><strong>${_("1. LMS Installation and Configuration")}</strong></p>
        <p>${_("Online-Learning Solutions will provide you with a complete online learning solution by installing and configuring an LMS that will be fully branded to your company. We will structure your LMS exactly to your requirements.")}</p>
        <p><strong>${_("2. LMS Support and Training")}</strong></p>
        <p>${_("Now you can establish your own internal corporate university to:")}</p>
        <ul>
            <li>${_("On-Board employees faster")}</li>
            <li>${_("Upskill your entire workforce")}</li>
            <li>${_("Keep employees productive")}</li>
            <li>${_("Accelerate career development")}</li>
            <li>${_("Develop managers and leaders")}</li>
        </ul>
    </section>
</main>
