<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        <p>Телесенс Академия</p>
        <p>ул. Молочная, 38</p>
        <p>Украина, г. Харьков, 61001</p>
        <p><a href="tel:380577190506">+38 (057) 719 05 06</a></p>
        <p><a href="tel:380503664009">+38 (050) 366 40 09</a></p>
        <p><a href="tel:380632836464">+38 (063) 283 64 64</a></p>
        <p><a href="tel:380673595495">+38 (067) 359 54 95</a></p>
        <p>
            <a href="">telesensacademy@gmail.com</a>
        </p>
    </section>
</main>
