<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>
        <p><a href="mailto:info@online-learning.co.za">info@online-learning.co.za</a></p>
        <p><a href="http://online-learning.co.za/">www.online-learning.co.za</a></p>
        <p>27 11 807 9525</p>
    </section>
</main>
