<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>
<style>
    .container.about p,
    .container.about div {
        margin: 0 0 7px;
        color: rgb(60,60,60);
        font-size: 16px;
        line-height: 1.3 !important;
    }
    .container.about {
        color: rgb(60,60,60);
        font-size: 16px;
        line-height: 1.3 !important;
    }
</style>
<section class="container about">
    <h1>Контакты:</h1>
    Фонд Егора Гайдара
    <br>&nbsp;<br>
    125009, г. Москва, Газетный пер., 3/5с1
    <br>&nbsp;<br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.0769144067162!2d37.605674716077246!3d55.75716608055454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a4f991416bb%3A0xe2b4af0a8f88c9a8!2z0JPQsNC30LXRgtC90YvQuSDQv9C10YAuLCAzLTXRgTEsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMjkwMDE!5e0!3m2!1sru!2sua!4v1604420774182!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br><br>
    <div>По всем организационным вопросам: <a href= "mailto:info@gaidaruniversity.ru">info@gaidaruniversity.ru</a></div>
</section>
