<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
      <h1>
        ${Text(_("Currently the {platform_name} servers are overloaded")).format(
            platform_name=HTML("<em>{}</em>").format(platform_name=Text(settings.PLATFORM_NAME))
        )}
      </h1>
      <p>
        ${Text(_("Our staff is currently working to get the site back up as soon as possible. "
        "please fill out an ALUx Support form on {support_site} to log a ticket and our team will look let you know "
        "once the site is back up.")).format(
            support_site=HTML('<a href="https://support.alueducation.com/">support.alueducation.com</a>')
        )}
      </p>
    </section>
</main>
