<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
      <h1>
        ${Text(_(u"There has been a 500 error on the {platform_name} servers")).format(
            platform_name=HTML("<em>{platform_name}</em>").format(platform_name=Text(static.get_platform_name()))
        )}
      </h1>
      <p>
        ${Text(_('Please wait a few seconds and then reload the page. If the problem persists, please fill out '
        'an ALUx Support form on {support_site} to log a ticket and our team will look at the issue you are '
        'experiencing. Please expect a response the following morning.')).format(
            support_site=HTML('<a href="https://support.alueducation.com/">support.alueducation.com</a>')
        )}
      </p>
    </section>
</main>
