// ------------------------------
// Open edX Certificates: Main Style Compile

// About: Sass compile for the Open edX Certificates Elements.

// NOTE: This is the left to right (LTR) configured style compile.
// It should mirror main-rtl w/ the exception of bi-app references.


// Load the LTR version of the edX Pattern Library
$pattern-library-path: '../../edx-pattern-library' !default;
@import 'edx-pattern-library/pattern-library/sass/edx-pattern-library-ltr';

// Load the shared build
@import 'build';


@media print {
  body.certificate {
    margin-top: 1.875rem !important;

    .hd-1 {
      line-height: normal;
      margin-bottom: 1rem;
    }

    .accomplishment-rendering {
      .accomplishment-statement,
      .accomplishment-signatories,
      .accomplishment-orgs {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      .accomplishment-type {
        margin-bottom: 1rem;
      }

      .accomplishment-orgs {
        .wrapper-organization {
          margin-top: 1rem !important;
          margin-bottom: 1rem !important;
        }
      }
    }

    &.layout-accomplishment .accomplishment-signatories .signatory {
      width: calc(25% - 1rem);
    }
  }
}
