<div class="author-block__wrapper">
    <div class="author-block__content">
        <div class="author-block__image">
            <div class="image-wrapper">
                {% if data.imgUrl %}
                {% for img in data.imgUrl %}
                <img src="{{ img }}" alt=""/>
                {% endfor %}
                {% elif data.iframeUrl %}
                <iframe src="{{ data.iframeUrl }}"></iframe>
                {% else %}
                <img alt="Unfortunately no image"/>
                {% endif %}
            </div>
        </div>
        <div class="author-block__question">
            <div class="slidebar-wrapper">
                {% for i in  data.sliderBar %}
                <div class="single-item">{{ i.content|safe }}</div>
                {% endfor %}
            </div>
            {% if data.imgUrl|length > 1 or data.sliderBar|length > 1 %}
                <div class="slider-button-wrapper">
                    <button class="slider-button button-prev" type="button">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                    <button class="slider-button button-next" type="button">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="slider-popup">
        <p>Give it another try.
            <br />
            If you'd like to exit the simulation instead, click exit.</p>
    </div>
</div>
