<div class="author-block__wrapper">
    <div class="author-block__content">
        <div class="author-block__image">
            <div class="image-wrapper">
                % if data.get('imgUrl'):
                    % for img in data['imgUrl']:
                        <img src="${ img }" alt=""/>
                    % endfor
                % elif data.get('iframeUrl'):
                    <iframe src="${ data['iframeUrl'] }"></iframe>
                % else:
                    <img alt="Unfortunately no image"/>
                % endif
            </div>
        </div>
        <div class="author-block__question">
            <div class="slidebar-wrapper">
                % if data.get('sliderBar'):
                    % for index, item in enumerate(data['sliderBar']):
                        <div class="single-item">
                            <div>
                                ${ item['content'] }
                            </div>
                            % if item.get('tableData'):
                                <% user_answer_input_index = 0 %>

                                <form class="table-form">
                                    <div class="table-wrapper">
                                    <table>
                                        <tbody>
                                            % if item['tableData'].get('columns'):
                                                <tr>
                                                    % for column in item['tableData']['columns']:
                                                        % if column.get('type') == 'head':
                                                            <th>${column['value'].replace('!', '', 1)}</th>
                                                        % elif column['value'].startswith('?'):
                                                            <td>
                                                                <%
                                                                    try:
                                                                        column_answer = user_answers[index][user_answer_input_index] if user_answers else ''
                                                                    except IndexError:
                                                                        column_answer = ''
                                                                %>
                                                                <input placeholder="Enter data here" type="text" name="${index}" value="${column_answer}"/>
                                                            </td>
                                                            <% user_answer_input_index += 1 %>
                                                        % else:
                                                            <td>${column['value']}</td>
                                                        % endif
                                                    % endfor
                                                </tr>
                                            % endif
                                            % if item['tableData'].get('rows'):
                                                % for row in item['tableData']['rows']:
                                                    <tr>
                                                        % for idx, col in enumerate(item['tableData'].get('columns')):
                                                            % if row[str(idx)]['value'].startswith('?'):
                                                                <td>
                                                                    <%
                                                                        try:
                                                                            row_answer = user_answers[index][user_answer_input_index] if user_answers else ''
                                                                        except IndexError:
                                                                            row_answer = ''
                                                                    %>
                                                                    <input placeholder="Enter data here" type="text" name="${index}" value="${row_answer}"/>
                                                                </td>
                                                                <% user_answer_input_index += 1 %>
                                                            % elif row[str(idx)].get('type') == 'head':
                                                                <th>${row[str(idx)]['value'].replace('!', '', 1)}</th>
                                                            % else:
                                                                <td>${row[str(idx)]['value']}</td>
                                                            % endif
                                                        % endfor
                                                    </tr>
                                                % endfor
                                            % endif
                                        </tbody>
                                    </table>
                                    </div>
                                </form>
                            % endif
                        </div>
                    % endfor
                % endif
            </div>
        </div>
        % if data.get('imgUrl') and len(data.get('imgUrl')) > 1 or data.get(sliderBar) and len(data.get(sliderBar)) > 1:
            <div class="slider-button-wrapper">
                <button class="slider-button button-prev js-click-prev" type="button">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </button>
                <button class="slider-button button-next js-click-next" type="button">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
        % endif
    </div>
    <div id="slider-popup">
        <p>Give it another try.
            <br />
            If you'd like to exit the simulation instead, click exit.</p>
    </div>
</div>
