<div class="author-block__wrapper">
    <div class="author-block__content">
        <div class="author-block__image">
            % if data.get('imgUrl'):
                <div class="image-wrapper-${block_id}">
                    % for img in data['imgUrl']:
                        <img src="${ img }" alt="" class="js-image-counter"/>
                    % endfor
                </div>
            % elif data.get('iframeUrl'):
                <iframe src="${ data['iframeUrl'] }"></iframe>
            % else:
                <img alt="Unfortunately no image"/>
            % endif
        </div>
        <div class="author-block__question">
            <div class="slidebar-wrapper-${block_id}">
                % for index, item in enumerate(data.get('sliderBar', [])):
                    <div class="single-item js-content-counter">
                        <div>
                            ${ item['content'] }
                        </div>
                        % if item.get('tableData'):
                            <% user_answer_input_index = 0 %>

                            <form class="table-form">
                                <div class="table-wrapper">
                                <table>
                                    <tbody>
                                        % if item['tableData'].get('columns'):
                                            <tr>
                                                % for column in item['tableData']['columns']:
                                                    % if column.get('type') == 'head':
                                                        <th>${column['value'].replace('!', '', 1)}</th>
                                                    % elif column['value'].startswith('?'):
                                                        <td>
                                                            <%
                                                                try:
                                                                    column_answer = user_answers[index][user_answer_input_index] if user_answers else ''
                                                                except IndexError:
                                                                    column_answer = ''
                                                            %>
                                                            <input placeholder="Enter data here" type="text" name="${index}" value="${column_answer}" required/>
                                                        </td>
                                                        <% user_answer_input_index += 1 %>
                                                    % else:
                                                        <td>${column['value']}</td>
                                                    % endif
                                                % endfor
                                            </tr>
                                        % endif
                                        % if item['tableData'].get('rows'):
                                            % for row in item['tableData']['rows']:
                                                <tr>
                                                    % for idx, col in enumerate(item['tableData'].get('columns')):
                                                        % if row[str(idx)]['value'].startswith('?'):
                                                            <td>
                                                                <%
                                                                    try:
                                                                        row_answer = user_answers[index][user_answer_input_index] if user_answers else ''
                                                                    except IndexError:
                                                                        row_answer = ''
                                                                %>
                                                                <input placeholder="Enter data here" type="text" name="${index}" value="${row_answer}" required/>
                                                            </td>
                                                            <% user_answer_input_index += 1 %>
                                                        % elif row[str(idx)].get('type') == 'head':
                                                            <th>${row[str(idx)]['value'].replace('!', '', 1)}</th>
                                                        % else:
                                                            <td>${row[str(idx)]['value']}</td>
                                                        % endif
                                                    % endfor
                                                </tr>
                                            % endfor
                                        % endif
                                    </tbody>
                                </table>
                                </div>
                            </form>
                        % endif
                    </div>
                % endfor
            </div>
            % if len(data.get('imgUrl', [])) > 1 or len(data.get('sliderBar', [])) > 1:
                <div class="slider-button-wrapper">
                    <button class="slider-button button-prev js-click-prev hidden" type="button">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                    <button class="slider-button button-next js-click-next" type="button">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            % endif
        </div>
    </div>
    <div class="author-holder author-block__buttons submit-button-holder">
        <button type="button" class="author-block__btn submit">Submit</button>
    </div>
    <div class="footer-controls-buttons-holder">
        <div class="js-show-hide-warning-message" style="display: none;">It seems like you haven't fully interacted with the table. Give it another try. If you'd like to exit, press next again!</div>
        <div class="footer-controls-btns">
            <button class="btn btn-prev button-previous-${block_id}">Previous</button>
            <button class="btn btn-primary button-next-${block_id}">Next</button>
        </div>
    </div>
</div>
