.table {
    &-description {
        padding: 4px 0;

        p {
            display: block;
            color: #757575;
            font-size: 10px;
            margin: 0 0 8px;
            line-height: 1;
        }
    }

    &-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 12px 2px 18px;

        > div {
            width: 100%;
        }

        &__btn {
            border: none;
            box-shadow: none;
            outline: none;
            background: none;
            cursor: pointer;
            padding: 0;
            margin: 6px 0;
            color: $table_color4;
            font-size: 14px;
            font-weight: normal;
            line-height: 1;
            transition: all .3s ease-in-out;

            &:active,
            &:focus {
                box-shadow: none;
                background: none;
                outline: none;
            }

            &:hover {
                opacity: .65;
            }
        }
    }

    &-wrapper {
        overflow-x: auto;
        padding: 6px 0;

        table {
            display: block;
            width: 100%;

            tr {
                &.is-add-row {
                    position: relative;

                    td {
                        position: static;
                    }
                }
            }

            th {
                input[type="text"],
                input[type="email"],
                input[type="password"],
                textarea.text {
                    background-color: #f0f0f0;
                    font-weight: 600;
                }
            }

            td,
            th {
                position: relative;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea.text {
            display: block;
            border: 1px solid $table_color2;
            box-shadow: none;
            padding: 4px 42px 4px 8px;
            background: none;
            width: 152px;
            height: auto;
            font-size: 12px;
            line-height: 1;
            border-radius: 0;
            transition: all .3s ease-in-out;

            &:active,
            &:focus {
                border-color: $table_color1;
            }
        }
    }


    &-buttons {
        display: flex;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);

        &.is-row {
            top: auto;
            bottom: auto;
            justify-content: flex-end;
            padding: 6px;
            position: static;
            transform: initial;

            .table-buttons__btn {
                font-size: 14px;
            }
        }

        &__btn {
            margin-left: 6px;
            border: none;
            box-shadow: none;
            outline: none;
            background: none;
            cursor: pointer;
            padding: 0;
            font-size: 22px;
            line-height: 1;
            opacity: .65;
            transition: all .3s ease-in-out;

            &:active,
            &:focus {
                box-shadow: none;
                background: none;
                outline: none;
            }

            &:hover {
                opacity: 1;
            }

            &.is-add {
                color: $table_color3;
            }

            &.is-remove {
                color: $table_color4;
                margin-top: -5px;
            }

            &.is-row {

            }
        }
    }
}
