.end-survey {
    &__img {
        height: auto !important;
        position: absolute !important;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &__row {
        margin: 0 0 24px;

        &:last-child {
            margin: 0;
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &-btn {
            margin-left: 12px;
            border: none;
            box-shadow: none;
            outline: none;
            background: none;
            cursor: pointer;
            padding: 0;
            font-size: 12px;
            line-height: 1;
            opacity: .65;
            transition: all .3s ease-in-out;

            &:active,
            &:focus {
                box-shadow: none;
                background: none;
                outline: none;
            }

            &:hover {
                opacity: 1;
            }

            &.is-add {
                color: $survey_color7;
            }

            &.is-remove {
                color: $survey_color6;
            }

            i {
                margin-right: 6px;
            }
        }
    }

    &__field {
        margin: 0 0 32px;

        &-title {
            margin: 0 0 12px;

            &__label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: bold;
                margin: 0 0 8px;
            }

            input[type="text"].end-survey__field-title__input {
                display: block;
                width: 100%;
                border: 1px solid $survey_color2;
                box-shadow: none;
                padding: 4px 8px;
                background: none;
                height: auto;
                font-size: 16px;
                line-height: 1;
                border-radius: 0;
                transition: all .3s ease-in-out;

                &:active,
                &:focus {
                    border-color: $survey_color1;
                }
            }
        }
    }

    &__radio-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__radio-btn {
        margin: 2px 0;
        border: none;
        box-shadow: none;
        outline: none;
        background: none;
        cursor: pointer;
        padding: 0;
        font-size: 16px;
        line-height: 1;
        opacity: .65;
        transition: all .3s ease-in-out;

        &:active,
        &:focus {
            box-shadow: none;
            background: none;
            outline: none;
        }

        &:hover {
            opacity: 1;
        }

        &.is-add {
            color: $survey_color7;
        }

        &.is-remove {
            color: $survey_color6;
        }
    }
}

.end-survey__field-radios {
    .questions__wrapper {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
    }

    .questions__wrapper input[type="text"].questions__list__text-hint {
        min-width: auto;
        width: 118px;
        font-size: 10px;
        padding: 4px;
    }

    .questions__list__item {
        margin: 0 0 12px;
        padding-right: 26px;
        position: relative;
    }
}
