$question_color1: #2b6797;
$question_color2: #ccc;
$question_color3: #fff;
$question_color4: #666;
$question_color5: #008000;
$question_color5: #ff0000;
$question_color6: #96d063;

.questions {
    &-toolbar {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .author-toolbar {
            width: 67.5%;
            margin-right: 10px;
        }

        .scaffolds-buttons {
            width: 32%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .author-toolbar__row {
            width: 100%;
        }

        .author-toolbar__field {
            min-width: 88.5% !important;
        }
    }

    &__wrapper {
        position: relative;

        &.is-radio {
            .questions__list.radio {
                display: block;
                visibility: visible;
            }
        }

        &.is-checkbox {
            .questions__list.checkbox {
                display: block;
                visibility: visible;
            }
        }

        &.is-number {
            .questions__list.number {
                display: block;
                visibility: visible;
            }
        }

        &.is-select {
            .questions__list.select {
                display: block;
                visibility: visible;
            }
        }
    }

    &__list {
        margin: 0 0 20px;

        &__toolbar {
            background: $question_color1;
            position: relative;
            margin: 20px 0 22px;
            padding: 8px;

            &__btn {
                box-sizing: border-box;
                display: inline-block;
                margin-right: 12px;
                color: $question_color3;
                background: none;
                border: none;
                outline: none;
                box-shadow: none;
                font-size: 18px;
                position: relative;
                transition: all .3s ease-in-out;

                &:hover {
                    opacity: .75;
                    transform: scale(1.15);
                }

                &:last-child {
                    margin: 0;
                }

                &.is-active {
                    color: #96d063;
                    transform: scale(1.35);

                    &:hover {
                        opacity: 1;
                        transform: scale(1.35);
                    }
                }
            }
        }

        &__item {
            display: flex;
            align-items: center;
            margin: 0 0 20px;

            &:last-child {
                margin: 0;
            }
        }

        &__label {
            display: inline-block;
        }

        &__input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 10px 0 0 7px;
        }

        &__text {
            font-size: 16px;
            position: relative;
            padding: 0 0 0 35px;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background: transparent;
                border: 1px solid $question_color1;
                transform: translateY(-50%);
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 7px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $question_color3;
                opacity: 0;
                transition: all .3s ease-in-out;
                transform: translateY(-50%);
            }
        }

        &__add-item {
            text-align: right;

            &__btn {
                box-sizing: border-box;
                display: inline-block;
                border: none;
                box-shadow: none;
                background: none;
                outline: none;
                text-align: center;
                color: $question_color4;
                padding: 0;
                text-transform: initial;
                font-weight: normal;
                font-size: 16px;
                transition: all .3s ease-in-out;
                position: relative;

                &:hover {
                    color: $question_color5;
                }
            }
        }

        &__remove-item {
            margin-left: 10px;
            color: $question_color5;
            border: none;
            box-shadow: none;
            outline: none;
            background: none;
            cursor: pointer;
            padding: 0;
            font-size: 18px;
            line-height: 1;
            opacity: .65;
            transition: all .3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.questions__wrapper {
    &.is-radio,
    &.is-select {
        .questions__list__input:checked + .questions__list__text:after {
            opacity: 1;
        }

        .questions__list__input:checked + .questions__list__text:before,
        .questions__list__input:focus + .questions__list__text:before {
            box-shadow: none;
            background: $question_color1;
        }
    }

    &.is-checkbox {
        .questions__list__text {
            &:before {
                border-radius: 0;
            }

            &:after {
                content: '\f00c';
                font-family: FontAwesome;
                background: transparent;
                color: $question_color3;
                left: 4px;
                margin-top: -3px;
            }
        }

        .questions__list__input:checked + .questions__list__text:after {
            opacity: 1;
        }

        .questions__list__input:checked + .questions__list__text:before {
            box-shadow: none;
            background: $question_color1;
        }
    }

    input[type="text"].questions__list__text-hint {
        border: 1px solid $question_color2;
        box-shadow: none;
        padding: 4px 8px;
        background: none;
        height: auto;
        line-height: 1;
        min-width: 235px;
        border-radius: 0;
        transition: all .3s ease-in-out;

        &:active,
        &:focus {
            border-color: $question_color1;
        }
    }

    input[type="text"].questions__list__field,
    input[type="number"].questions__list__field {
        box-shadow: none;
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 12px;
        background: none;
        border: 1px solid $question_color2;
        transition: all .3s ease-in-out;
        resize: none;
        outline: none;
        font-size: 14px;
        border-radius: 0;

        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
            border-color: $question_color1;
        }
    }


    &.is-number {
        .questions__list__item {
            display: block;
        }

        .questions__list__field-hint {
            display: block;
            color: #757575;
            font-size: 10px;
            padding: 4px 0;
        }
    }
}
