<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
%>

<%
username = user.profile.name or user.username
roll = _('Superuser') if user.is_superuser else _('Teacher')
%>

%if report_data:
    %if user.is_superuser or user.is_staff and hasattr(user, 'instructorprofile'):
        <h3>Report for lesson assigend to Class '${classroom}' with due date: ${due_date}</h3>
        <%include file="includes/teacher_extended_report.html" />
    %else:
        <h1>${"Report for lesson: '{}'".format(course_name)}</h1>
        <%include file="includes/student_extended_report.html" />
    %endif
%endif
