<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
<div class="courses-field-wrapper">
    <div class="courses-field field courses-list js-courses-styler">
        <div class="head">
            <label>Filter Courses:</label>
            <input id="courseFilter" type="text">
        </div>
        <label for="${form['courses'].id_for_label}">${form['courses'].label}:</label>
        ${form['courses'].as_widget()|h}
    </div>
    <div class="courses-field field js-classrooms-styler">
        <div class="head">
            <label>Filter Classrooms:</label>
            <input id="classroomFilter" type="text">
        </div>
        <label for="${form['classrooms'].id_for_label}">${form['classrooms'].label}:</label>
        ${form['classrooms'].as_widget()|h}
    </div>
    <div class="courses-field-holder">
        <div class="students-field field js-students-styler">
            <div class="head">
                <label>Filter Students:</label>
                <input id="studentFilter" type="text">
            </div>
            <label for="${form['students'].id_for_label}">${form['students'].label}:</label>
            ${form['students'].as_widget()|h}
        </div>
        <div class="due_date-field field">
            <label for="${form['due_date'].id_for_label}">${form['due_date'].label}</label>
            ${form['due_date'].as_widget()|h}
        </div>
    </div>
</div>

% if messages:
<ul class="messages messages-success">
    % for message in messages:
    % if message.tags:
    <li class=${ message.tags }>
        % else:
    <li>
        % endif
        ${ message }
    </li>
    % endfor
</ul>
% endif

% if form['courses'].errors:
<div class="messages messages-error">
    ${form['courses'].errors.as_ul()|h}
</div>
% endif

% if form['students'].errors:
<div class="messages messages-error">
    ${form['students'].errors.as_ul()|h}
</div>
% endif

% if form['due_date'].errors:
<div class="messages messages-error">
    ${form['due_date'].errors.as_ul()|h}
</div>
% endif

<div class="fields-row">
    <div class="send_to_students-field field">
        <label for="${form['send_to_students'].id_for_label}">${form['send_to_students'].label}</label>
        ${form['send_to_students'].as_widget()|h}
    </div>
    <div class="send_to_parents-field field">
        <label for="${form['send_to_parents'].id_for_label}">${form['send_to_parents'].label}</label>
        ${form['send_to_parents'].as_widget()|h}
    </div>
    <div class="send_sms-field field">
        <label for="${form['send_sms'].id_for_label}">${form['send_sms'].label}</label>
        ${form['send_sms'].as_widget()|h}
    </div>
</div>
