

<%!
from django.utils.translation import ugettext as _
%>

<%
username = user.profile.name or user.username
role = _('Superuser') if user.is_superuser else _('Student') if hasattr(user, 'studentprofile') else _('Teacher')
%>


<div class="my_report_popup">
    <div class="modal-report-content">
        <div class="report"></div>
        <div class="close-holder">
            <button class="close_popup">${_("Close")}</button>
        </div>
    </div>
</div>
<section>
    %if not data:
        <p class="table-alert">${_("No reports are available.")}</p>
    %else:
        <h2 class="hd hd-2 report-title">
            ${_("Students Progress for {role} '{username}'").format(role=role, username=username)}
        </h2>

        <table class="table-my-reports" data-role="${'student' if hasattr(user, 'studentprofile') else 'instructor'}">
            <thead>
                <tr>
                    <th class="table-date-group asc">${_("Date Group")}</th>
                    <th class="table-date isDueDate asc">${_("Due Date")}</th>
                    <th class="table-class isClass">${_("Class")}</th>
                    <th class="table-course_name isCourseName">${_("Course Name")}</th>
                    %if hasattr(user, 'studentprofile'):
                        <th class="table-has-due-date isHasDueDate">${_("Has Due Date")}</th>
                        <th class="table-finalize-date isFinalizeDate">${_("Finalize Date")}</th>
                    %endif
                    <th class="table-score isScore">${_("Score") if hasattr(user, 'studentprofile') else _("Average score")}</th>
                    <th class="table-view isView">${_("Display")}</th>
                </tr>
            </thead>
            <tbody>
                %for datum in data:
                    <tr>
                        <td class="table-date-group">${datum['due_date']['due_date_order']}</td>
                        <td class="table-date ${datum['due_date']['date_group']} ${'complete' if datum.get('complete') else ''}" data-sort="${datum['due_date']['date_data']}">${datum['due_date']['displayed_date']}</td>
                        <td class="table-class">${datum['classroom']}</td>
                        <td class="table-course_name">${datum['course_name']}</td>
                        %if hasattr(user, 'studentprofile'):
                            <td class="table-has-due-date isHasDueDate">${datum['has_due_date']}</td>
                            <td class="table-finalize-date isFinalizeDate" data-sort="${datum['finalize_date']['date_data']}">${datum['finalize_date']['display_data']}</td>
                        %endif
                        <td class="table-average_score">${datum['average_score']}</td>
                        <td class="table-view">
                            <a class="open_report ${'is-disabled' if not datum['active_report_link'] else ''}"
                                data-due_date="${datum['due_date']['date_data']}"
                                data-classroom="${datum['classroom']}"
                                data-course_report_id="${datum.get('course_report_id')}"
                                href="${datum['report_link']}">
                                    ${_("Open report")}
                                </a>
                        </td>
                    </tr>
                %endfor
            </tbody>
        </table>
    %endif
</section>
