<%inherit file="/main.html" />
<%namespace name="static" file="/static_content.html"/>
<%!
from django.utils.translation import ugettext as _
%>
<main id="main" aria-label="Content" tabindex="-1">
    <div>
        <div class="profile-wrapper">
            <section class="course-info" id="course-info-progress">
                <table class="table-my-reports">
                    %if not data:
                        <p class='table-alert'>No reports are available.</p>
                    %elif is_student: 
                            <thead>
                                <tr>
                                    <th class='table-date'>${_("Due Date")}</th>
                                    <th class='table-class'>${_("Class")}</th>
                                    <th class='table-date'>${_("Assign Date")}</th>
                                    <th>${_("Course Name")}</th>
                                    <th class='table-view'>${_("View")}</th>
                                </tr>
                            </thead>
                            <tbody>
                                %for datum in data:
                                    <tr>
                                        <td class='table-date'>${datum['due_date']}</td>
                                        <td class='table-class'>${datum['classrom']}</td>
                                        <td class='table-date'>${datum['assign_date']}</td>
                                        <td>${datum['course_name']}</td>
                                        <td class='table-view'>
                                            <form action="${datum['report_link']}">
                                                <input type="submit" value="Open report" />
                                            </form>
                                        </td>
                                    </tr>
                                %endfor
                            </tbody>
                    %else:
                        <thead>
                            <tr>
                                <th class='table-class'>${_("Class")}</th>
                                <th>${_("Course Name")}</th>
                                <th class='table-view'>${_("View")}</th>
                            </tr>
                        </thead>
                        <tbody>
                            %for datum in data:
                            <tr>
                                <td class='table-class'>${datum['classrom']}</td>
                                <td>${datum['course_name']}</td>
                                <td class='table-view'>
                                    <form action="${datum['report_link']}">
                                        <input type="submit" value="Open report" />
                                    </form>
                                </td>
                            </tr>
                            %endfor
                            
                        </tbody>
                     %endif    
                    </table>
            </section>
        </div>
    </div>
</main>
