<div class="author-block__wrapper">
    <div class="servey-questions">
        <h1 class="title-block-heading">{{ title }}</h1>
        {% if  user_count %}
            <h1 class="title-block-heading">{{ user_count }}</h1>
        {% endif %}
        <div class="author-block__content is-column">
            <div class="author-block__question is-full-width">
                {% for q in questions %}
                <div class=row>
                    <span>{{ q.questionText }}</span>
                    {% if q.type == 'options'%}
                    <div class="box">
                        <select class="possible-answers">
                            {% for a in q.possibleAnswers %}
                            <option {% if a == last_choice %}selected{% endif %}> {{a}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% elif q.type == 'text' %}
                    <input type="text" id="survey_answer"> {{a}} </input>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="button-submit" type="button">Submit Survey</button>
    </div>
</div>
