<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="head_extra_js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</%block>
<%block name="head_extra_css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
</%block>

<%block name="pagetitle">${_("Manage Courses")}</%block>

<main id="main">
    <h1>Manage Courses</h1>
    % if messages:
    <ul class="messages">
        % for message in messages:
            % if message.tags:
                <li class=${ message.tags }>
            % else:
                <li>
            % endif
            ${ message }
            </li>
        % endfor
    </ul>
    % endif
    <form method="post">
        <table>
            <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
            ${form.as_table() | h}
        </table>
        <input type="submit">
    </form>
    <script>
    $(function () {
        $("#id_due_date").datetimepicker({
        format: 'd/m/Y H:i',
        });
    });
    </script>
</main>
