<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="head_extra_js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

</%block>
<%block name="head_extra_css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
</%block>

<%block name="pagetitle">${_("Manage Courses")}</%block>

<main id="main">
    <h1>Manage Courses</h1>

    <div class="manage-courses-wrapper">
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="${ csrftoken }" />
            <div class="courses-field field">
                <div class="head">
                    <label>Filter Courses:</label>
                    <input type="text">
                </div>
<!--                <label for="${form['courses'].id_for_label}">${form['courses'].label}:</label>-->
                <label for="${form['courses'].id_for_label}">Available Courses List:</label>
                ${form['courses'].as_widget()|h}
            </div>
            <div class="courses-field field">
                <div class="head">
                    <label>Filter Classrooms:</label>
                    <input type="text">
                </div>
<!--                <label for="${form['courses'].id_for_label}">${form['courses'].label}:</label>-->
                <label for="${form['courses'].id_for_label}">Classroom List:</label>
                ${form['courses'].as_widget()|h}
            </div>
            <div class="students-field field">
                <div class="head">
                    <label>Filter Students:</label>
                    <input type="text">
                </div>
<!--                <label for="${form['students'].id_for_label}">${form['students'].label}:</label>-->
                <label for="${form['students'].id_for_label}">Students List:</label>
                ${form['students'].as_widget()|h}
            </div>
            <div class="due_date-field field">
                <label for="${form['due_date'].id_for_label}">${form['due_date'].label}</label>
                ${form['due_date'].as_widget()|h}
            </div>

            % if messages:
            <ul class="messages messages-success">
                % for message in messages:
                % if message.tags:
                <li class=${ message.tags }>
                    % else:
                <li>
                    % endif
                    ${ message }
                </li>
                % endfor
            </ul>
            % endif

            % if form['courses'].errors:
            <div class="messages messages-error">
                ${form['courses'].errors.as_ul()|h}
            </div>
            % endif

            % if form['students'].errors:
            <div class="messages messages-error">
                ${form['students'].errors.as_ul()|h}
            </div>
            % endif

            % if form['due_date'].errors:
            <div class="messages messages-error">
                ${form['due_date'].errors.as_ul()|h}
            </div>
            % endif

            <div class="fields-row">
                <div class="send_to_students-field field">
                    <label for="${form['send_to_students'].id_for_label}">${form['send_to_students'].label}</label>
                    ${form['send_to_students'].as_widget()|h}
                </div>
                <div class="send_to_parents-field field">
                    <label for="${form['send_to_parents'].id_for_label}">${form['send_to_parents'].label}</label>
                    ${form['send_to_parents'].as_widget()|h}
                </div>
                <div class="send_sms-field field">
                    <label for="${form['send_sms'].id_for_label}">${form['send_sms'].label}</label>
                    ${form['send_sms'].as_widget()|h}
                </div>
            </div>
            <div class="submit-wrapper">
                <input id='submit' type="submit" value="Assign Courses">
            </div>
        </form>
    </div>

    <script type="text/javascript" src="${static.url('js/jquery.formstyler.min.js')}"></script>
    <script>
    $(function () {
        $("#id_due_date").datetimepicker({
            format: 'd/m/Y H:i',
        });

        $('.manage-courses-wrapper select, .manage-courses-wrapper input[type="checkbox"]').styler();
    });
    </script>
</main>
