<%page expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>
%if unit_title:
  <h2 class="hd hd-2 unit-title">${unit_title}</h2>
% endif

% if show_bookmark_button:
    <%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>
% endif

% if forced_seating_time and not is_seating_time_finished:
  <div class="forced-seating-timer" data-ping-timedelta="${ping_timedelta}"></div>
% endif

<div class="vert-mod ${'forced-seating-timer-enabled' if forced_seating_timer_enabled else ''}
            ${'is-seating-time-finished' if is_seating_time_finished else ''}">
% for idx, item in enumerate(items):
  <div class="vert vert-${idx}" data-id="${item['id']}">
    ${HTML(item['content'])}
  </div>
% endfor
</div>
