/* CSS for LessonSummaryXBlock */
.lms-holder {
    display: flex;
    width: 100%;
}

.block-bubble {
    box-sizing: border-box;
    width: 65%;
    background: #f2f2f2;
    border-radius: 28px;
    padding: 20px;
    margin-right: 24px;
    position: relative;
}

.bubble-title {
    color: #222524;
    font-size: 24px;
    margin: 0 0 18px;
}

.bubble-text {
    margin: 0 0 12px;
}

.bubble-text p {
    color: #222524;
    font-size: 15px;
    line-height: 1.4;
    margin: 0 0 12px !important;
}

.bubble-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bubble-columns__item {
    padding: 0 25px;
}

.bubble-columns__icon {
    width: 100px;
    margin: 0 auto 12px;
}

.bubble-columns__icon img {
    display: block;
    width: 100%;
}

.bubble-columns__title {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 8px;
}

.bubble-columns__text {
    font-size: 13px;
}

.block-mascot {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35%;
}

.block-mascot__img {
    display: inline-block;
    position: relative;
    width: 232px;
}

.block-mascot__img:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 55px 0 0;
    border-color: #f2f2f2 transparent transparent transparent;
    position: absolute;
    left: -46px;
    top: 50%;
    margin-top: 12px;
    transform: translateY(-50%) scale(.6);
}
