<div class="author-block__wrapper">
    <div class="author-block__content">
        <div class="author-block__image">
            <span class="close-image-icon hidden js-close-scaffold-btn">&times;</span>
            % for img_url in img_urls:
                <div class="image-slider">
                    <img class="question__image" src="${img_url}" alt="Question image">
                </div>
            % endfor
            <div class="scaffold_help_image hidden">
            </div>
            % if iframe_url:
                <button type="button" class="show-simulation" data-iframe-url="${iframe_url}">Show simulation</button>
            % endif
        </div>
        <div class="author-block__question">
            <div class="question__content">${description}</div>
            <form class="question-form">
                % for index, problem_type in enumerate(problem_types):
                    % if problem_type.get('title'):
                        <p>${problem_type['title']}</p>
                    % endif
                    % if problem_type['type'] == "text" or problem_type['type'] == "number":
                        <input class="questions-list__field" type="${problem_type['type']}" name="${index}" value="${user_answer[index][0] if user_answer else ''}"/>
                    % elif problem_type['type'] == "select":
                        <select class="questions-list__select" name="${index}">
                            <option class="questions-list__select-item" value=""> ------- </option>
                            % for option in problem_type['options']:
                                % if option.get('title'):
                                    <% selected = 'selected' if user_answer and option['title'] in user_answer[index] else '' %>
                                    <option value="${option['title']}" ${selected}>${option['title']}</option>
                                % endif
                            % endfor
                        </select>
                    % elif problem_type['type'] == "table":
                        <table>
                            <tbody>
                                % if problem_type['tableData'].get('columns'):
                                    <tr>
                                        % for column in problem_type['tableData']['columns']:
                                            % if column['type'] == 'head':
                                                <th>${column['value'].replace('!', '', 1)}</th>
                                            % else:
                                                <td>${column['value']}</td>
                                            % endif
                                        % endfor
                                    </tr>
                                % endif
                                % if problem_type['tableData'].get('rows'):
                                    <% user_answer_input_index = 0 %>
                                    % for row in problem_type['tableData']['rows']:
                                        <tr>
                                            % for idx, col in enumerate(problem_type['tableData'].get('columns')):
                                                % if row[str(idx)]['value'].startswith('?'):
                                                    <td>
                                                        <input type="text" name="${index}" value="${user_answer[index][user_answer_input_index] if user_answer else ''}"/>
                                                    </td>
                                                    <% user_answer_input_index += 1 %>
                                                % elif row[str(idx)]['type'] == 'head':
                                                    <th>${row[str(idx)]['value'].replace('!', '', 1)}</th>
                                                % else:
                                                    <td>${row[str(idx)]['value']}</td>
                                                % endif
                                            % endfor
                                        </tr>
                                    % endfor
                                % endif
                            </tbody>
                        </table>
                    % else:
                        % for option in problem_type['options']:
                            % if option.get('title'):
                                <% checked_flag = '' %>
                                %if user_answer and option['title'] in user_answer[index]:
                                    <% checked_flag = 'checked' %>
                                %endif
                                <div class="questions-list__item">
                                    <label class="questions-list__label">
                                        <input
                                                class="questions-list__input"
                                                type="${problem_type['type']}"
                                                name="${index}"
                                                value="${option['title']}"
                                                ${checked_flag}
                                        />
                                        <span class="questions-list__text">
                                            ${option['title']}
                                        </span>
                                    </label>
                                </div>
                            % endif
                        % endfor
                    % endif
                % endfor
            </form>
            <div class="scaffold-info hidden">
                <img class="scaffold-img" src="" alt="scaffold img">
                <div class="scaffold-description"></div>
                <button type="button" class="author-block__btn try_again">Try Again</button>
            </div>
            <div id="${'rephrase-content-{}'.format(location_id)}" class="rephrase-content" hidden>
                ${rephrase.get('content')}
            </div>
            <div id="${'break-down-{}'.format(location_id)}" class="break-down-content" hidden>
                ${break_down.get('content')}
            </div>
            <div id="${'teach-me-{}'.format(location_id)}" class="teach-me-content" hidden>
                ${teach_me.get('content')}
            </div>
            <div class="scaffolds hidden">
                <%
                    break_down_img_urls = ' '.join(break_down.get('imgUrls', []))
                    teach_me_img_urls = ' '.join(teach_me.get('imgUrls', []))
                %>
                <button type="button" class="scaffold scaffold__btn is-rephrase" data-scaffold-name="rephrase-content">
                    <span class="scaffold__price">
                        -20
                    </span>
                    Rephrase
                </button>
                <button type="button" class="scaffold scaffold__btn is-break" data-img-urls="${break_down_img_urls}" data-scaffold-name="break-down">
                    <span class="scaffold__price">
                        -20
                    </span>
                    Break It Down
                </button>
                <button type="button" class="scaffold scaffold__btn is-teach" data-img-urls="${teach_me_img_urls}" data-scaffold-name="teach-me">
                    <span class="scaffold__price">
                        -30
                    </span>
                    Teach Me
                </button>
            </div>
        </div>
    </div>
    <div class="author-holder author-block__buttons">
        <span class="confidence-text info hidden"></span>
        <input type="number" class="confidence-input hidden" min="0" max="100"/>
        <span class="confidence-text error">Please tell us how confident you are about your answer.</span>
        <button type="button" class="author-block__btn skip hidden">Skip</button>
        <button type="button" class="author-block__btn submit" disabled>Submit</button>
    </div>
    <div class="simulation-overlay">
        <div class="simulation-popup">
            <div class="simulation-close-btn">&times;</div>
            <iframe src="${iframe_url}" class="simulation-iframe"></iframe>
        </div>
    </div>
</div>
